<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" >
    <sdb:widget order="15" name="org.santedb.widget.admin.panel.audit.usersAndComputers" headerClass="bl-light"
        size="Large" type="Panel" context="org.santedb.securityAudit.admin">
        <sdb:icon>fas fa-id-badge</sdb:icon>
        <sdb:description lang="en">Event Information</sdb:description>
    </sdb:widget>

    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>

    <div ng-if="scopedObject">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'ui.admin.audit.actors.uname' | i18n }}</th>
                    <th>{{ 'ui.admin.audit.actors.apInfo' | i18n }}</th>
                    <th>{{ 'ui.admin.audit.actors.initiator' | i18n }}</th>
                    <th>{{ 'ui.admin.audit.actors.role' | i18n }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in scopedObject.audit.actor">
                    <td>
                        <a  class="btn btn-link p-0" ng-if="a.isReq"
                            ui-sref="santedb-admin.security.users.index({ q: a.uname })">{{ a.uname }}</a>
                        <a class="btn btn-link p-0" ng-if="!a.isReq"
                            ng-sref="santedb-admin.security.devices.index({ q: a.uname })">{{ a.uname }}</a>
                    </td>
                    <td>
                        {{a.apId}}
                    </td>
                    <td>
                        <i class="fas" ng-class="{ 'fa-check' : a.isReq }"></i>
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="r in a.role">{{ r.display || r.code }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>