<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid">
    <form class="form" ng-submit="saveDomain(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="row" ng-if="!domain">
            <div class="col">
                <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
            </div>
        </div>
        <div class="row" ng-if="domain">
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                data-target="#coreIdentityProperties" aria-expanded="true">
                                <i class="fa fa-id-card-alt"></i> {{ 'ui.admin.domain.edit.core.title' | i18n }}
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" id="coreIdentityProperties">
                        <div class="card-body container-fluid">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2" for="sid">{{
                                    'ui.model.identityDomain.id' | i18n }}</label>
                                <div class="col-sm-12 col-md-10 input-group">
                                    <input name="sid" autocomplete="__away" readonly="readonly" type="text"
                                        class="form-control" ng-model="domain.id" />
                                    <input-copy-button button-class="'btn-outline-secondary'" source="domain.id" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2 required" for="domainName">{{
                                    'ui.model.identityDomain.domainName' | i18n }}
                                    <hint-popover hint-title="ui.model.identityDomain.domainName" />
                                </label>
                                <div class="col-sm-12 col-md-10 input-group">
                                    <input name="domainName" autocomplete="__away" type="text" class="form-control"
                                        ng-model="domain.domainName" pattern="^[A-Za-z_\-0-9]{3,}$"
                                        required="required" />
                                </div>
                                <div class="col-sm-12 col-md-10 offset-md-2">
                                    <div ng-show="targetForm.domainName.$error['duplicate']" class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ 'ui.error.duplicate' | i18n }}
                                    </div>
                                    <div ng-show="targetForm.domainName.$error['required'] &amp;&amp; targetForm.$submitted"
                                        class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                    </div>
                                    <div ng-show="targetForm.domainName.$error['pattern'] &amp;&amp; targetForm.domainName.$touched"
                                        class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2 required" for="oid">{{
                                    'ui.model.identityDomain.oid' | i18n }}
                                    <hint-popover hint-title="ui.model.identityDomain.oid" />
                                </label>
                                <div class="col-sm-12 col-md-10 input-group">
                                    <input name="oid" type="text" autocomplete="__away" class="form-control"
                                        ng-model="domain.oid" pattern="^[0-9]*?[0-9\.]*$" required="required" />
                                </div>
                                <div class="col-sm-12 col-md-10 offset-md-2">
                                    <div ng-show="targetForm.oid.$error['duplicate']" class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ 'ui.error.duplicate' | i18n }}
                                    </div>
                                    <div ng-show="targetForm.oid.$error['required'] &amp;&amp; targetForm.$submitted"
                                        class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                    </div>
                                    <div ng-show="targetForm.oid.$error['pattern'] &amp;&amp; targetForm.oid.$touched"
                                        class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2 required" for="url">{{
                                    'ui.model.identityDomain.url' | i18n }}
                                    <hint-popover hint-title="ui.model.identityDomain.url" />
                                </label>
                                <div class="col-sm-12 col-md-10 input-group">
                                    <input name="url" type="text" class="form-control" ng-model="domain.url"
                                        autocomplete="__away" pattern="^(([^:/?#]+):)(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?$" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-10 offset-md-2">
                                    <div ng-show="targetForm.url.$error['duplicate']" class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ 'ui.error.duplicate' | i18n }}
                                    </div>
                                    <div ng-show="targetForm.url.$error['pattern'] &amp;&amp; targetForm.url.$touched"
                                    class="text-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2 required" for="name">{{
                                    'ui.model.identityDomain.name' | i18n }}
                                    <hint-popover hint-title="ui.model.identityDomain.name" />
                                </label>
                                <div class="col-sm-12 col-md-10 input-group">
                                    <input name="name" type="text" autocomplete="__away" class="form-control"
                                        ng-model="domain.name" maxlength="64" required="required" />
                                </div>
                                <div class="col-sm-12 col-md-10 offset-md-2">
                                    <div ng-show="targetForm.name.$error['required'] &amp;&amp; targetForm.$submitted"
                                        class="text-danger">
                                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="domain.createdBy">
                                <label class="col-sm-12 col-md-2 control-label">{{ 'ui.model.identityDomain.createdBy' |
                                    i18n }}</label>
                                <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="domain.createdBy" provenance-time="domain.creationTime">
                                    </provenance>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="domain.updatedBy">
                                <label class="col-sm-12 col-md-2 control-label">{{ 'ui.model.identityDomain.updatedBy' |
                                    i18n }}</label>
                                <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="domain.updatedBy" provenance-time="domain.updatedTime">
                                    </provenance>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="domain.obsoletedBy">
                                <label class="col-sm-12 col-md-2 control-label">{{ 'ui.model.identityDomain.obsoletedBy'
                                    | i18n }}</label>
                                <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="domain.obsoletedBy"
                                        provenance-time="domain.obsoletionTime"></provenance>
                                    <button id="reactivateAuthorityButton" ng-click="reactivateDomain()" type="button"
                                        class="btn btn-success"><i class="fas fa-trash-restore"></i>
                                        {{ 'ui.action.undelete' | i18n }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                data-target="#validationProperties" aria-expanded="true">
                                <i class="fa fa-check-circle"></i> {{ 'ui.admin.domain.edit.validation.title' | i18n }}
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" id="validationProperties">
                        <div class="card-body container-fluid">
                            
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2" for="validation">{{
                                    'ui.model.identityDomain.validation' | i18n }}
                                    <hint-popover hint-title="ui.model.identityDomain.validation" />
                                </label>
                                <div class="col-sm-12 col-md-10">
                                    <div class="input-group">
                                        <input name="validation" autocomplete="__away" type="text" class="form-control"
                                        ng-model="domain.validation" maxlength="256" />
                                        <div class="input-group-append" ng-if="domain.validation">
                                            <span class="input-group-text">{{ 'ui.example' | i18n }} : {{ domain._exampleId }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2">{{ 'ui.model.identityDomain.checkDigitAlgorithm' | i18n }} 
                                    <hint-popover hint-title="ui.model.identityDomain.checkDigitAlgorithm" />
                                </label>
                                <div class="col-sm-12 col-md-10">
                                    <select class="form-control" ng-model="domain.checkDigitAlgorithm">
                                        <option value="">{{ 'ui.none' | i18n }}</option>
                                        <option ng-repeat="opt in checkDigitAlgorithms" value="{{ opt.aqn }}">{{ opt.display }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2">{{ 'ui.model.identityDomain.customValidator' | i18n }} 
                                    <hint-popover hint-title="ui.model.identityDomain.customValidator" />
                                </label>
                                <div class="col-sm-12 col-md-10">
                                    <select class="form-control" ng-model="domain.customValidator">
                                        <option value="">{{ 'ui.none' | i18n }}</option>
                                        <option ng-repeat="opt in customValidators" value="{{ opt.aqn }}">{{ opt.display }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-left col-sm-12 col-md-10 offset-md-2">
                                    <input type="checkbox" ng-model="domain.isUnique" />
                                    {{ 'ui.model.identityDomain.isUnique' | i18n }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                data-target="#extendedProperties" aria-expanded="true">
                                <i class="fa fa-shield-alt"></i> {{ 'ui.admin.domain.edit.scope.title' | i18n }}
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" id="extendedProperties">
                        <div class="card-body container-fluid">
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2">{{ 'ui.model.identityDomain.scope' |
                                    i18n }}</label>
                                <div class="col-md-10 col-sm-12">
                                    <entity-search multiple="multiple" type="'Concept'" ng-model="domain.scope"
                                        search-field="'name.value'"
                                        filter="{ 'conceptSet' : [ '62C5FDE0-A3AA-45DF-94E9-242F4451644A', '4E6DA567-0094-4F23-8555-11DA499593AF'] }">
                                    </entity-search>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2">{{ 'ui.model.identityDomain.policy' |
                                    i18n }}</label>
                                <div class="col-md-10 col-sm-12">
                                    <entity-search type="'SecurityPolicy'" ng-model="domain.policy"
                                        search-field="'name'"  filter="{ 'obsoletionTime' : 'null' }">
                                    </entity-search>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                data-target="#assigningApp" aria-expanded="true">
                                <i class="fa fa-hospital"></i> {{ 'ui.admin.domain.edit.authority.title' | i18n }}
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse show" id="assigningApp">
                        <div class="card-body container-fluid">
                            <div class="form-group row"
                                ng-repeat="assigner in domain.assigningAuthority track by $index">
                                <label class="control-label col-sm-12 col-md-2">{{
                                    'ui.model.identityDomain.assigningAuthority.assigningApplication' | i18n }}
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <entity-search type="'SecurityApplication'" ng-model="assigner.assigningApplication"
                                        search-field="'name'" filter="{ 'obsoletionTime' : 'null' }">
                                    </entity-search>
                                </div>
                                <label class="col-md-2 col-sm-12">
                                    <input type="checkbox" ng-model="assigner.reliability" ng-true-value="1"
                                        ng-false-value="2" />
                                    {{ 'ui.model.identityDomain.assigningAuthority.authoritative' | i18n }}</label>
                                <div class="col-md-2 col-sm-12">
                                    <div class="float-right">
                                        <button type="button" ng-click="domain.assigningAuthority.splice($index, 1)"
                                            class="btn btn-danger"><i class="fas fa-times"></i> {{ 'ui.action.remove' |
                                            i18n }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-12 col-md-2">{{
                                    'ui.model.identityDomain.assigningAuthority.assigningApplication' | i18n }}
                                    <hint-popover
                                        hint-title="ui.model.identityDomain.assigningAuthority.assigningApplication" /></label>
                                <div class="col-md-6 col-sm-12">
                                    <entity-search type="'SecurityApplication'"
                                        ng-model="newAssigner.assigningApplication"  filter="{ 'obsoletionTime' : 'null' }" search-field="'name'">
                                    </entity-search>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" ng-model="newAssigner.reliability" ng-true-value="1"
                                        ng-false-value="2" id="assigningAuthorityAuthoritative" />
                                        <label class="custom-control-label" for="assigningAuthorityAuthoritative">{{ 'ui.model.identityDomain.assigningAuthority.authoritative' | i18n }}</label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="float-right">
                                        <button type="button" ng-disabled="!newAssigner.assigningApplication"
                                            ng-click="domain.assigningAuthority.push(newAssigner); newAssigner = {}"
                                            class="btn btn-primary"><i class="fas fa-plus"></i> {{ 'ui.action.add' |
                                            i18n }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="btn-group float-right">
                    <button type="submit" id="saveAuthorityButton" class="btn btn-primary"><i class="fa fa-check"></i>
                        {{ 'ui.action.save' | i18n }}</button>
                </div>
            </div>

        </div>

    </form>
</div>