<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid"
    oc-lazy-load="{ name: 'PatientDemographicsWidgetController', files: ['/org.santedb.uicore/controllers/widgets/patientWidget.js'] }">
    <sdb:widget order="10" name="org.santedb.widget.patient.identity" altViews="Edit" headerClass="alert-info"
        size="Medium" type="Panel" context="org.santedb.patient.demographics">
        <sdb:icon>fas fa-id-card</sdb:icon>
        <sdb:description lang="en">Patient Identity</sdb:description>
    </sdb:widget>
    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>
    <div ng-if="scopedObject" ng-controller="PatientDemographicsWidgetController">
        <div ng-if="panel.view != 'Edit'">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'ui.model.entityIdentifier.authority' | i18n }}</th>
                        <th>{{ 'ui.model.entityIdentifier.value' | i18n }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(domain, idArray) in scopedObject.identifier">
                        <td>
                            <span class="badge badge-info"><i class="fas fa-book"></i> {{ idArray[0].authority.name }}</span>
                        </td>
                        <td>
                            <span ng-repeat="identifier in idArray">
                            {{ identifier.value }}<br/>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form ng-submit="update(panel.editForm)" class="form" name="panel.editForm" method="dialog" novalidate="novalidate"
            ng-if="panel.view == 'Edit'">
            <div class="alert"  ng-class="{'alert-info' : scopedObject.id != editObject.id , 'alert-success': scopedObject.id == editObject.id }" ng-if="scopedObject.tag['$mdm.type'] != 'L' &amp;&amp; scopedObject.tag['$generated'] == 'true'">
                <span ng-if="scopedObject.id != editObject.id"><i class="fas fa-gavel"></i> {{ 'ui.mdm.edit.recordOfTruth' | i18n }}</span>
                <span ng-if="scopedObject.id == editObject.id"><i class="fas fa-gavel"></i> {{ 'ui.mdm.edit.master' | i18n }}</span>
            </div>
            <div class="alert alert-warning" ng-if="!scopedObject.tag['$generated'] &amp;&amp; scopedObject.determinerConcept != '6b1d6764-12be-42dc-a5dc-52fc275c4935'">
                <i class="fas fa-exclamation-circle"></i> {{ 'ui.mdm.edit.local' | i18n }}
            </div>
            <div class="alert alert-warning" ng-if="scopedObject.tag['$mdm.type'] == 'L'"><i
                    class="fas fa-exclamation-triangle"></i> {{ 'ui.mdm.edit.local' | i18n }}</div>

            <identifier-list-edit identifier="editObject.identifier" container-class="editObject.classConcept" owner-form="panel.editForm" />
        </form>
    </div>
</div>