<div xmlns="http://www.w3.org/1999/xhtml">
    <form ng-submit="savePolicy(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="alert alert-warning" ng-show="!target.securityPolicy.id">
            <i class="fas fa-exclamation-triangle"></i> {{ 'ui.admin.policy.edit.readonly'  | i18n }}
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                        data-target="#corePolicyProps" aria-expanded="true">
                        <i class="fa fa-certificate"></i> {{ 'ui.admin.policy.edit.core.title' | i18n }}
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </h2>
            </div>
            <div class="collapse show" id="corePolicyProps">
                <div class="card-body container-fluid">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 control-label"
                            for="sid">{{ 'ui.model.securityPolicy.id' | i18n }}</label>
                        <div class="col-sm-12 col-md-10 input-group">
                            <input name="sid" readonly="readonly" type="text" class="form-control"
                                ng-model="target.securityPolicy.id" />
                            <input-copy-button class="btn btn-outline-secondary" source="target.securityPolicy.id" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 control-label"
                            for="policyoid">{{ 'ui.model.securityPolicy.oid' | i18n }}</label>
                        <div class="col-sm-12 col-md-10 input-group">
                            <input name="policyoid" type="text" class="form-control"
                                pattern="^(\d+?\.){1,}\d+$" minlength="6" maxlength="32" required="required" ng-readonly="target.securityPolicy.id"
                                ng-model="target.securityPolicy.oid" />
                            <input-copy-button id="policyoidCopyButton" class="btn btn-outline-secondary"
                                source="target.securityPolicy.oid" />
                        </div>
                        <div class="col-sm-12 col-md-10 offset-md-2">
                            <div ng-show="targetForm.policyoid.$error['duplicate']" class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i>
                                {{ 'ui.error.duplicate' | i18n }}
                            </div>
                            <div ng-show="targetForm.policyoid.$error['required'] &amp;&amp; targetForm.$submitted"
                                class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                            </div>
                            <div ng-show="targetForm.policyoid.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 control-label"
                            for="policyname">{{ 'ui.model.securityPolicy.name' | i18n }}</label>
                        <div class="col-sm-12 col-md-10 input-group">
                            <input name="policyname" type="text" class="form-control" ng-readonly="target.securityPolicy.id"
                                minlength="3" maxlength="32" required="required"
                                ng-model="target.securityPolicy.name" />
                            <input-copy-button id="policynameCopyButton" class="btn btn-outline-secondary"
                                source="target.securityPolicy.name" />
                        </div>
                        <div class="col-sm-12 col-md-10 offset-md-2">
                            <div ng-show="targetForm.policyname.$error['duplicate']" class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i>
                                {{ 'ui.error.duplicate' | i18n }}
                            </div>
                            <div ng-show="targetForm.policyname.$error['required'] &amp;&amp; targetForm.$submitted"
                                class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                            </div>
                            <div ng-show="targetForm.policyname.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                class="alert-danger">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 control-label"
                            for="policyhandler">{{ 'ui.model.securityPolicy.handler' | i18n }}</label>
                        <div class="col-sm-12 col-md-10">
                            <input name="policyhandler" type="text" class="form-control"
                                pattern="^(\w+?\.){1,}\w+$" minlength="1" maxlength="256" ng-readonly="target.securityPolicy.id"
                                ng-model="target.securityPolicy.handler" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 offset-md-2 col-md-10">
                            <label>
                                <input type="checkbox" ng-model="target.securityPolicy.canOverride" ng-readonly="target.securityPolicy.id" ng-disabled="target.securityPolicy.id" />
                                {{ 'ui.model.securityPolicy.canOverride' | i18n }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="target.securityPolicy.createdBy">
                        <label
                            class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityPolicy.createdBy' | i18n }}</label>
                        <div class="col-md-10 col-sm-12">
                            <provenance provenance-id="target.securityPolicy.createdBy"
                                provenance-time="target.securityPolicy.creationTime"></provenance>
                            {{ target.securityPolicy.creationTime | extDate }}
                        </div>
                    </div>
                    <div class="form-group row" ng-if="target.securityPolicy.updatedBy">
                        <label
                            class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityPolicy.updatedBy' | i18n }}</label>
                        <div class="col-md-10 col-sm-12">
                            <provenance provenance-id="target.securityPolicy.updatedBy"
                                provenance-time="target.securityPolicy.updatedTime"></provenance>
                            {{ target.securityPolicy.updatedTime | extDate }}
                        </div>
                    </div>
                    <div class="form-group row" ng-if="target.securityPolicy.obsoletedBy">
                        <label
                            class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityPolicy.obsoletedBy' | i18n }}</label>
                        <div class="col-md-10 col-sm-12">
                            <provenance provenance-id="target.securityPolicy.obsoletedBy"
                                provenance-time="target.securityPolicy.obsoletionTime"></provenance>

                            {{ target.securityPolicy.obsoletionTime | extDate }} <button id="reactivatePolicyButton"
                                ng-click="reactivatePolicy()" type="button" class="btn btn-success"><i
                                    class="fas fa-trash-restore"></i>
                                {{ 'ui.action.undelete' | i18n }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group float-right" ng-if="!target.securityPolicy.id">
                <button type="submit" id="savePolicyButton" class="btn btn-primary"><i class="fa fa-check"></i>
                    {{ 'ui.action.save' | i18n }}</button>
            </div>
    </form>
</div>