<div xmlns="http://www.w3.org/1999/xhtml">
    <form ng-submit="saveDevice(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="accordion" id="deviceAccordion">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#coreDeviceProps" aria-expanded="true">
                            <i class="fa fa-tablet-alt"></i> {{ 'ui.admin.devices.edit.core.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="coreDeviceProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="sid">{{ 'ui.model.securityDevice.id' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="sid" readonly="readonly" type="text" class="form-control"
                                    ng-model="target.securityDevice.id" />
                                <input-copy-button class="btn btn-outline-secondary" source="target.securityDevice.id" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="devicename">{{ 'ui.model.securityDevice.name' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="devicename" ng-readonly="target.securityDevice.id" type="text"
                                    class="form-control" pattern="^[A-Za-z0-9_\-\.\@\|]{3,}" minlength="3" maxlength="32"
                                    required="required" ng-model="target.securityDevice.name" />
                                <input-copy-button id="devicenameCopyButton" class="btn btn-outline-secondary"
                                    source="target.securityDevice.name" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="targetForm.devicename.$error['duplicate']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'ui.error.duplicate' | i18n }}
                                </div>
                                <div ng-show="targetForm.devicename.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.devicename.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.createdBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityDevice.createdBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityDevice.createdBy" provenance-time="target.securityDevice.creationTime"></provenance>
                                {{ target.securityDevice.creationTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.updatedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityDevice.updatedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityDevice.updatedBy" provenance-time="target.securityDevice.updatedTime"></provenance>
                                {{ target.securityDevice.updatedTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.obsoletedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityDevice.obsoletedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityDevice.obsoletedBy" provenance-time="target.securityDevice.obsoletionTime"></provenance>
                                {{ target.securityDevice.obsoletionTime | extDate }} <button id="reactivateDeviceButton"
                                    ng-click="reactivateDevice()" type="button" class="btn btn-success"><i
                                        class="fas fa-trash-restore"></i>
                                    {{ 'ui.action.undelete' | i18n }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            aria-expanded="true" data-target="#securityProps">
                            <i class="fa fa-shield-alt"></i> {{ 'ui.admin.devices.edit.security.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="securityProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityDevice.lastAuthenticationTime' | i18n }}</label>
                            <div class="col-xs-12 col-md-10" ng-if="target.securityDevice.lastAuthenticationTime">
                                {{ target.securityDevice.lastAuthenticationTime | extDate: 'F' }}</div>
                            <div class="col-xs-12 col-md-10" ng-if="!target.securityDevice.lastAuthenticationTime">
                                {{ 'ui.admin.devices.edit.security.neverLoggedIn' | i18n }}</div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityDevice.invalidAuth' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                {{ target.securityDevice.invalidAuth || 0    }}
                                <button ng-click="resetInvalidLogins()" id="resetInvalidLoginsButton" type="button"
                                    class="btn btn-info">
                                    <i class="fas fa-undo"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.lockout > $root.page.currentTime">
                           <label for="lockout" class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityDevice.lockout' | i18n }}</label>
                           <div class="col-xs-12 col-md-10">
                               {{ target.securityDevice.lockout | extDate: 'F' }}
                               <button ng-click="unlock()" id="unlockButton" class="btn btn-info"
                                    type="button">
                                    <i class="fa fa-lock-open"></i> {{ 'ui.action.unlock' | i18n }}
                                </button>
                           </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityDevice.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityDevice.secret' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group" ng-if="target.securityDevice.deviceSecret">
                                    <input name="secret" ng-readonly="target.securityDevice.id" type="text"
                                        class="form-control" minlength="3" maxlength="64"
                                        readonly="readonly" ng-model="target.securityDevice.deviceSecret" />
                                    <input-copy-button id="devicesecretCopyButton" class="btn btn-outline-secondary"
                                        source="target.securityDevice.deviceSecret" />
                                </div>
                            <div class="col-xs-12 col-md-2" ng-if="!target.securityDevice.deviceSecret">
                                <button ng-click="resetSecret()" id="resetSecretButton" class="btn btn-info" 
                                    type="button">
                                    <i class="fa fa-asterisk"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->

            <div class="card" ng-show="target.securityDevice.id">
                    <div class="card-header">
                        <h2 class="mb-0">
                            <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                                data-target="#policyGroupProps" aria-expanded="true">
                                <i class="fa fa-certificate"></i> {{ 'ui.admin.devices.edit.policy.title' | i18n }}
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </h2>
                    </div>
                    <div class="collapse show" id="policyGroupProps">
                        <div class="card-body container-fluid">
                            <entity-policy-admin securable="target.securityDevice" policy="target.policy"></entity-policy-admin>
                        </div>
                    </div>
            </div>
            <!---->

            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#demographicProps">
                            <i class="fa fa-id-badge"></i> {{ 'ui.admin.devices.edit.demographics.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" ng-class="{ 'show' : !target.securityDevice.id }" id="demographicProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label for="modelName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.manufacturerModelName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input required="required" name="modelName" type="text" class="form-control" maxlength="128"
                                    ng-model="target.entity.manufacturerModelName" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2"><div ng-show="targetForm.modelName.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="operatingSystemName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.operatingSystemName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input required="required" name="operatingSystemName" type="tel" class="form-control"
                                    ng-model="target.entity.operatingSystemName" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2"><div ng-show="targetForm.operatingSystemName.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="facility"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.relationship.DedicatedServiceDeliveryLocation' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'Place'" name="facility"
                                    filter="{ obsoletionTime: 'null', classConcept: EntityClassKeys.ServiceDeliveryLocation }"
                                    class="form-control"
                                    ng-model="target.entity.relationship.DedicatedServiceDeliveryLocation"
                                    value-property="'target'" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="assignedEntity" 
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.relationship.AssignedEntity' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'UserEntity'"
                                    filter="{ obsoletionTime: 'null' }"
                                    class="form-control"
                                    name="assignedEntity"
                                    ng-model="target.entity.relationship.AssignedEntity"
                                    value-property="'target'" />
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="btn-group float-right">
            <button type="submit" id="saveDeviceButton" class="btn btn-primary"><i class="fa fa-check"></i>
                {{ 'ui.action.save' | i18n }}</button>
        </div>
    </form>
</div>