<div xmlns="http://www.w3.org/1999/xhtml">
    <fieldset ng-repeat="addr in addressEdit" class="m-2" ng-if="!simpleEntry">
        <legend>{{ addr.useModel | concept }}</legend>
        <div class="container-fluid">
            <!-- #include virtual="/org.santedb.uicore/directives/partials/addressEdit.html" -->
        </div>
    </fieldset>
    <div ng-if="simpleEntry &amp;&amp; $index == 0" class="m-2" ng-repeat="addr in addressEdit">
        <!-- #include virtual="/org.santedb.uicore/directives/partials/addressEdit.html" -->
    </div>
    <div class="btn-group float-right" ng-if="!noAdd">
        <button type="button" ng-click="addAddress()" class="btn btn-primary"><i class="fas fa-plus"></i> {{ 'ui.action.add' | i18n }}</button>
    </div>
</div>