<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row form-group">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.geo.lat' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <input type="number" class="form-control" ng-model="geo.lat" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.geo.lng' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <input type="number" class="form-control" ng-model="geo.lng" />
        </div>
    </div>
</div>