<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row form-group">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.geo.supplied' | i18n }}</label>
        <div class="col-md-9 col-sm-12 control-value">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="geoSupplied" ng-model="geo._supplied" />
                <label for="geoSupplied" class="custom-control-label"></label>
            </div>
        </div>
    </div>
    <div class="row form-group" ng-if="geo._supplied">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.geo.lat' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <input type="number" class="form-control" ng-model="geo.lat" />
        </div>
    </div>
    <div class="row form-group" ng-if="geo._supplied">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.geo.lng' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <input type="number" class="form-control" ng-model="geo.lng" />
        </div>
    </div>
</div>