<div xmlns="http://www.w3.org/1999/xhtml"> 
    <div class="form-group row" ng-if="!noDomain">
        <label
            class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.entity.identifier.authority' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <select class="form-control" ng-model="identifier.domainModel.domainName">
                <option ng-repeat="(k, auth) in authorities" ng-selected="$index == 0" value="{{auth.domainName}}">
                    {{ auth.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row" ng-if="!noLabel">
        <label class="col-sm-12 col-md-3 control-label" ng-if="noDomain">
            {{ authorities[identifier.domainModel.domainName].name || identifier.domainModel.name }}
        </label>
        <div ng-class="{ 'col-sm-12 col-md-9' : noDomain , 'col-12' : !noDomain }">
            <div class="input-group">
                <input ng-pattern="authorities[identifier.domainModel.domainName].validation" ng-model="identifier.value"
                    class="form-control" name="identifier{{identifier.id}}" ng-required="isRequired"
                    ng-disabled="!identifier.domainModel.domainName" ng-readonly="!authorities[identifier.domainModel.domainName]"
                    placeholder="{{ authorities[identifier.domainModel.domainName].validationHint }}" />
                    <div class="input-group-append"  ng-if="authorities[identifier.domainModel.domainName].checkDigit">
                        <span class="input-group-text">{{ 'ui.model.entity.identifier.checkDigit' | i18n }}</span>
                        <input class="form-control" name="identifier{{identifier.id}}cd" ng-value="identifier.checkDigit" />
                    </div>
                    <div class="input-group-append" ng-if="!noScan">
                        <div class="btn-group" ng-if="authorities[identifier.domainModel.domainName]">
                        <button ng-click="generateId()" ng-if="authorities[identifier.domainModel.domainName].generator" class="btn btn-outline-secondary" type="button" ><i class="fas fa-robot"></i><span class="d-none d-sm-inline">{{ 'ui.action.generate' | i18n }}</span></button>
                        <button ng-click="scanId()" class="btn btn-outline-info" type="button"><i class="fas fa-qrcode"></i><span class="d-none d-sm-inline">{{ 'ui.action.scan' | i18n }}</span></button>
                        <button ng-click="removeFn(identifier.domainModel.domainName, identifier.value)" class="btn btn-outline-danger" type="button" ng-if="removeFn"><i class="fas fa-times"></i><span class="d-none d-sm-inline">{{ 'ui.action.remove' | i18n }}</span></button>
                    </div>
                    </div>
            </div>
            <div ng-if="ownerForm['identifier' + identifier.id].$error['pattern']" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'ui.error.pattern' | i18n }}
            </div>
            <div ng-show="ownerForm['identifier' + identifier.id].$error['required']" class="text-danger">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'ui.error.required' | i18n }}
            </div>
        </div>
    </div>
    <div ng-if="noLabel">
        <div class="input-group mb-0" ng-if="noLabel">
            <input ng-pattern="authorities[identifier.domainModel.domainName].validation" ng-model="identifier.value"
                class="form-control" name="identifier{{identifier.id}}" ng-required="isRequired"
                ng-disabled="!identifier.domainModel.domainName" ng-readonly="!authorities[identifier.domainModel.domainName]"
                placeholder="{{ authorities[identifier.domainModel.domainName].validationHint }}" />
                <div class="input-group-append"  ng-if="authorities[identifier.domainModel.domainName].checkDigit">
                    <span class="input-group-text">{{ 'ui.model.entity.identifier.checkDigit' | i18n }}</span>
                    <input class="form-control" name="identifier{{identifier.id}}cd" ng-value="identifier.checkDigit" />
                </div>
            <div class="input-group-append" ng-if="!noScan">
                    <div class="btn-group" ng-if="authorities[identifier.domainModel.domainName]">
                    <button ng-click="generateId()" ng-if="authorities[identifier.domainModel.domainName].generator" class="btn btn-outline-secondary" type="button" ><i class="fas fa-robot"></i><span class="d-none d-sm-inline">{{ 'ui.action.generate' | i18n }}</span></button>
                    <button ng-click="scanId()" class="btn btn-outline-info" type="button"><i class="fas fa-qrcode"></i><span class="d-none d-sm-inline">{{ 'ui.action.scan' | i18n }}</span></button>
                    <button ng-click="removeFn(identifier.domainModel.domainName, identifier.value)" class="btn btn-outline-danger" type="button" ng-if="removeFn"><i class="fas fa-times"></i><span class="d-none d-sm-inline">{{ 'ui.action.remove' | i18n }}</span></button>
                </div>
                </div>
        </div>
        <p ng-if="ownerForm['identifier' + identifier.id].$error['pattern']" class="mt-0 text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            {{ 'ui.error.pattern' | i18n }}
        </p>
        <p ng-if="ownerForm['identifier' + identifier.id].$error['required']" class="mt-0 text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            {{ 'ui.error.required' | i18n }}
        </p>
    </div>
</div>