<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="form-group row" ng-if="!noDomain">
        <label
            class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.entity.identifier.authority' | i18n }}</label>
        <div class="col-sm-12 col-md-9">
            <select class="form-control" ng-model="identifier.authority.domainName">
                <option ng-repeat="(k, auth) in authorities" ng-selected="$index == 0" value="{{auth.domainName}}">
                    {{ auth.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-12 col-md-3 control-label">
            {{ authorities[identifier.authority.domainName].name }}
        </label>
        <div class="col-sm-12 col-md-9">
            <div class="input-group">
                <input ng-pattern="authorities[identifier.authority.domainName].validation" ng-model="identifier.value"
                    class="form-control" name="identifier{{identifier.authority.domainName}}" ng-required="isRequired"
                    ng-disabled="!identifier.authority.domainName" />
                    <div class="input-group-append" ng-if="authorities[identifier.authority.domainName].generator">
                        <div class="btn-group">
                        <button ng-click="generateId()" class="btn btn-outline-secondary" type="button" ><i class="fas fa-robot"></i> {{ 'ui.action.generate' | i18n }}</button>
                    </div>
                    </div>
            </div>
            <div ng-show="editForm.identifier{{identifier.authority.domainName}}.$error['pattern']" class="alert-danger">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'ui.error.pattern' | i18n }}
            </div>
            <div ng-show="editForm.identifier{{identifier.authority.domainName}}.$error['required']" class="alert-danger">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'ui.error.required' | i18n }}
            </div>
        </div>
    </div>

</div>