<div xmlns="http://www.w3.org/1999/xhtml">
    <fieldset class="m-2" ng-repeat="name in nameEdit" ng-if="!simpleEntry">
        <legend>{{ name.useModel | concept }} {{ 'ui.model.entity.name.title' | i18n }}</legend>
        <!-- #include virtual="/org.santedb.uicore/directives/partials/nameEdit.html" -->
    </fieldset>
    <div class="m-2" ng-if="simpleEntry &amp;&amp; $index == 0" ng-repeat="name in nameEdit">
        <!-- #include virtual="/org.santedb.uicore/directives/partials/nameEdit.html" -->
    </div>
    <div class="btn-group float-right" ng-if="!noAdd">
        <button type="button" ng-click="addName()" class="btn btn-primary"><i class="fas fa-plus"></i>
            {{ 'ui.action.add' | i18n }}</button>
    </div>
</div>