<div xmlns="http://www.w3.org/1999/xhtml">
    <fieldset class="m-2" ng-repeat="name in nameEdit">
        <legend>{{ name.useModel | concept }}  {{ 'ui.model.entity.name.title' | i18n }}</legend>
        <div class="container-fluid">
        <div class="form-group row">
            <label class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.entity.name.use' | i18n }}</label>
            <div class="col-sm-12 col-md-9">

                <concept-select class="form-control" required="required" name="name{{n}}use" concept-set="'NameUse'"
                    ng-model="name.useModel" />
                <div class="alert alert-danger" ng-if="panel.editForm['name' + n + 'use'].$invalid">
                    {{ 'ui.error.required' | i18n }}</div>
            </div>
        </div>
        <div class="form-group row" ng-if="!$root.system.config.application.setting['forbid.patient.name.prefix']">
            <label
                class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.name.component.prefix' | i18n }}</label>
            <div class="col-sm-12 col-md-9">
                <concept-select class="form-control" concept-set="'NamePrefix'" ng-model="name.component.Prefix"
                    key="'mnemonic'" />
            </div>
        </div>
        <div class="form-group row" ng-if="!$root.system.config.application.setting['forbid.patient.name.given']">
            <label
                class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.entity.name.component.given' | i18n }}</label>
            <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name']">
                <tag-input ng-switch-default="" name="name{{n}}given" class="form-control"
                    ng-model="name.component.Given" required="required" />
                <input ng-switch-when="simple" name="name{{n}}given" type="text" class="form-control"
                    ng-model="name.component.Given" required="required" />
                <div class="alert alert-danger" ng-if="panel.editForm['name' + n + 'given'].$invalid">
                    {{ 'ui.error.required' | i18n }}</div>
            </div>
        </div>
        <div class="form-group row" ng-if="!$root.system.config.application.setting['forbid.patient.name.family']">
            <label
                class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.entity.name.component.family' | i18n }}</label>
            <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name']">
                <tag-input ng-switch-default="" name="name{{n}}family" class="form-control"
                    ng-model="name.component.Family" required="required" />
                <input ng-switch-when="simple" name="name{{n}}family" type="text" class="form-control"
                    ng-model="name.component.Family" required="required" />
                <div class="alert alert-danger" ng-if="panel.editForm['name' + n + 'family'].$invalid">
                    {{ 'ui.error.required' | i18n }}</div>
            </div>
        </div>
        <div class="form-group row" ng-if="!$root.system.config.application.setting['forbid.patient.name.suffix']">
            <label
                class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.name.component.suffix' | i18n }}</label>
            <div class="col-sm-12 col-md-9">
                <concept-select class="form-control" concept-set="'NameSuffix'" ng-model="name.component.Suffix"
                    key="'mnemonic'" />
            </div>
        </div>
        <div class="form-group row" ng-if="nameEdit.length &gt; 1">
            <div class="col">
            <div class="btn-group float-right">
                <button type="button" ng-click="removeName($index)" class="btn btn-danger"><i class="fas fa-times"></i> {{ 'ui.action.remove' | i18n }}</button>
            </div>
        </div>
        </div>
    </div>
    </fieldset>
    <div class="btn-group float-right">
        <button type="button" ng-click="addName()" class="btn btn-primary"><i class="fas fa-plus"></i> {{ 'ui.action.add' | i18n }}</button>
    </div>
</div>