<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="alert alert-info" ng-if="unsaved">
        <i class="fas fa-info-circle"></i> {{ 'ui.common.unsavedChanges' | i18n }}
    </div>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>{{ 'ui.model.securityPolicyInstance.policy' | i18n }}</th>
                <th>{{ 'ui.model.securityPolicyInstance.grant' | i18n }}</th>
                <th></th>
            </tr>
        </thead>
        
    </table>
    <div id="addPolicy" class="input-group mb-3">
            <div class="input-group-append">
                    <span class="input-group-text">{{ 'ui.action.add' | i18n }}</span> </div>
            <entity-search 
                placeholder="{{ 'ui.model.securityPolicyInstance.search' | i18n }}" 
                type="'SecurityPolicy'" 
                class="form-control" 
                style="width:75%" 
                search-field="'name'"
                ng-model="newPolicy.id"
                filter="{ obsoletionTime: 'null' }"/>
            <button type="button" class="btn btn-primary input-group-btn" ng-disabled="!newPolicy || newPolicy.exec"
                ng-click="addPolicy()"><i class="fas" ng-class="{'fa-plus-circle': !newPolicy.exec, 'fa-circle-notch fa-spin': newPolicy.exec }"></i></button>
    </div>
</div>