<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="alert alert-info" ng-if="unsaved">
        <i class="fas fa-info-circle"></i> {{ 'ui.common.unsavedChanges' | i18n }}
    </div>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>{{ 'ui.model.securityPolicyInstance.policy' | i18n }}</th>
                <th>{{ 'ui.model.securityPolicyInstance.grant' | i18n }}</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="pi in policy track by $index">
            <td><i class="fas fa-shield-alt" ng-if="!pi.canOverride"
                    title="{{ 'ui.model.securityPolicyInstance.canOverride' | i18n }}"></i> {{ pi.name }}</td>
            <td>
                <div class="btn-group btn-group-toggle">
                    <label class="btn btn-info" ng-class="{'active btn-primary':pi.grant == 'Grant'}"><input
                            type="radio" name="rdo{{pi.oid}}" ng-model="pi.grant" ng-change="updateGrant($index)" value="Grant" /> <i
                            class="fas fa-thumbs-up"></i> <span class="d-sm-none d-lg-inline">
                            {{ 'ui.model.securityPolicyInstance.grant.Grant' | i18n }}</span></label>
                    <label class="btn btn-info" ng-class="{'active btn-primary':pi.grant == 'Deny'}"><input type="radio"
                            name="rdo{{pi.oid}}"  ng-change="updateGrant($index)" ng-model="pi.grant" value="Deny" /> <i class="fas fa-thumbs-down"></i>
                        <span class="d-sm-none d-lg-inline">
                            {{ 'ui.model.securityPolicyInstance.grant.Deny' | i18n }}</span></label>
                    <label class="btn btn-info" ng-class="{'active btn-primary':pi.grant == 'Elevate'}"><input
                            type="radio" name="rdo{{pi.oid}}"  ng-change="updateGrant($index)" ng-model="pi.grant" value="Elevate" /> <i
                            class="fas fa-arrow-circle-up"></i> <span class="d-sm-none d-lg-inline">
                            {{ 'ui.model.securityPolicyInstance.grant.Elevate' | i18n }}</span></label>
                </div>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deletePolicy($index)"><i class="fas fa-trash"></i> <span
                        class="d-sm-none d-lg-inline"> {{ 'ui.action.delete' | i18n }}</span></button>
            </td>
        </tr>
    </table>
    <div id="addPolicy" class="input-group mb-3">
            <div class="input-group-append">
                    <span class="input-group-text">{{ 'ui.action.add' | i18n }}</span> </div>
            <entity-search 
                placeholder="{{ 'ui.model.securityPolicyInstance.search' | i18n }}" 
                type="'SecurityPolicy'" 
                class="form-control" 
                style="width:75%" 
                search-field="'name'"
                ng-model="newPolicy.id"
                filter="{ obsoletionTime: 'null' }"/>
            <button type="button" class="btn btn-primary input-group-btn" ng-disabled="!newPolicy || newPolicy.exec"
                ng-click="addPolicy()"><i class="fas" ng-class="{'fa-plus-circle': !newPolicy.exec, 'fa-circle-notch fa-spin': newPolicy.exec }"></i></button>
    </div>
</div>