<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid">
    <div class="row">
        <div class="col" ng-repeat="group in widgetGroups"  ng-class="{ 'col-12' : group.size == 'Large', 'col-md-12 col-lg-6' : group.size == 'Medium', 'col-md-6 col-lg-3': group.size == 'Small' }">
            <div class="mt-2 p-0 col" ng-repeat="panel in group.widgets" ng-if="$eval(panel.guard[0] || 'true')">
                <div class="card">
                    <div class="card-header" ng-class="panel.headerClass">
                        <h5 class="float-left mb-0">
                            <i ng-class="panel.icon"></i> {{ panel.name | i18n }}
                        </h5>
                        <div class="btn-group float-right" ng-if="panel.altViews">
                            <button class="btn btn-danger" ng-if="panel.view" ng-click="closeView(panel)">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-info" ng-click="setView(panel, 'Edit')" ng-if="panel.altViews == 'Edit' &amp;&amp; panel.view != 'Edit'">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-success" ng-click="submitEditForm(panel)" ng-if="panel.view == 'Edit'">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-dark" ng-click="setView(panel, 'Setting')" ng-if="panel.altViews == 'Setting'" ng-class="{ 'active' : panel.view == 'Setting' }">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <ng-include src="'/app/Widgets/' + panel.name"></ng-include>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>