<div  xmlns="http://www.w3.org/1999/xhtml">
  
    <div class="form-group row" ng-if="!noType">
        <label class="col-sm-12 col-md-3 control-label" ng-class="{'required': isRequired  &amp;&amp; $index == 0 || !noType &amp;&amp; (name.component.Given  || name.component.Family)}">{{ 'ui.model.entity.name.use' | i18n }} <hint-popover hint-title="ui.model.entity.name.use" /> </label>
        <div class="col-sm-12 col-md-9">
            <concept-select class="form-control" id="{{controlPrefix}}name{{$index}}use" ng-required="isRequired  &amp;&amp; $index == 0 || !noType &amp;&amp; (name.component.Given  || name.component.Family)" name="{{controlPrefix}}name{{ $index }}use" concept-set="'NameUse'"
                ng-model="name.use" />
            <div class="text-danger" ng-if="ownerForm[controlPrefix + 'name' + $index  + 'use'].$invalid">
                <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}</div>
        </div>
    </div>
    <div class="form-group row" ng-if="$root.system.config.application.setting['forbid.patient.name.prefix'] != 'true' &amp;&amp; allowedComponents.indexOf('prefix') > -1">
        <label
            class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.name.component.prefix' | i18n }} <hint-popover hint-title="ui.model.entity.name.component.prefix" /> </label>
        <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name'] || inputStyle">
            <tag-input  ng-switch-default="" name="{{controlPrefix}}name{{$index }}prefix" class="form-control"
                ng-model="name.component.Prefix" />
            <input autocomplete="__away"   ng-switch-when="simple" name="{{controlPrefix}}name{{$index }}prefix" type="text" class="form-control"
                ng-model="name.component.Prefix"/>
        </div>
    </div>
    <div class="form-group row" ng-if="$root.system.config.application.setting['forbid.patient.name.given'] != 'true' &amp;&amp; allowedComponents.indexOf('given') > -1">
        <label
            class="col-sm-12 col-md-3 control-label" ng-class="{'required': isRequired &amp;&amp; !$root.system.config.application.setting['optional.patient.name.given']}">{{ 'ui.model.entity.name.component.given' | i18n }} <hint-popover hint-title="ui.model.entity.name.component.given" /></label>
        <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name'] || inputStyle">
            <tag-input ng-required="isRequired" ng-switch-default="" name="{{controlPrefix}}name{{$index }}given" class="form-control"
                ng-model="name.component.Given"  />
            <input autocomplete="__away"  ng-required="isRequired &amp;&amp; !$root.system.config.application.setting['optional.patient.name.given']" ng-switch-when="simple" name="{{controlPrefix}}name{{$index }}given" type="text" class="form-control"
                ng-model="name.component.Given" />
            <div class="text-danger" ng-if="ownerForm[controlPrefix + 'name' + $index  + 'given'].$invalid">
                <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}</div>
        </div>
    </div>
    <div class="form-group row" ng-if="$root.system.config.application.setting['forbid.patient.name.family'] != 'true' &amp;&amp; allowedComponents.indexOf('family') > -1">
        <label
            class="col-sm-12 col-md-3 control-label" ng-class="{'required': isRequired &amp;&amp; !$root.system.config.application.setting['optional.patient.name.family']}">{{ 'ui.model.entity.name.component.family' | i18n }} <hint-popover hint-title="ui.model.entity.name.component.family" /></label>
        <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name'] || inputStyle">
            <tag-input ng-required="isRequired" ng-switch-default="" name="{{controlPrefix}}name{{ $index }}family" class="form-control"
                ng-model="name.component.Family"  />
            <input autocomplete="__away" ng-required="isRequired &amp;&amp; !$root.system.config.application.setting['optional.patient.name.family']" ng-switch-when="simple" name="{{controlPrefix}}name{{ $index }}family" type="text" class="form-control"
                ng-model="name.component.Family" />
            <div class="text-danger" ng-if="ownerForm[controlPrefix + 'name' + $index + 'family'].$invalid">
                <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}</div>
        </div>
    </div>
    <div class="form-group row" ng-if="$root.system.config.application.setting['forbid.patient.name.suffix'] != 'true' &amp;&amp; allowedComponents.indexOf('suffix') > -1">
        <label
            class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.name.component.suffix' | i18n }} <hint-popover hint-title="ui.model.entity.name.component.suffix" /></label>
            <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name'] || inputStyle">
                <tag-input ng-switch-default="" name="{{controlPrefix}}name{{$index }}suffix" class="form-control"
                    ng-model="name.component.Suffix"  />
                <input autocomplete="__away"   ng-switch-when="simple" name="{{controlPrefix}}name{{$index }}suffix" type="text" class="form-control"
                    ng-model="name.component.Suffix"  />
            </div>
    </div>
    <div class="form-group row" ng-if="$root.system.config.application.setting['forbid.patient.name.other'] != 'true' &amp;&amp; allowedComponents.indexOf('$other') > -1">
        <label class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.name.component.other' | i18n }} <hint-popover hint-title="ui.model.entity.name.component.other" /></label>
        <div class="col-sm-12 col-md-9" ng-switch="$root.system.config.application.setting['input.name'] || inputStyle">
            <tag-input ng-required="isRequired" ng-switch-default="" name="{{controlPrefix}}name{{$index }}$other" class="form-control"
                ng-model="name.component.$other" />
            <input ng-required="isRequired" autocomplete="__away" ng-switch-when="simple" name="{{controlPrefix}}name{{$index }}$other" type="text" class="form-control"
                ng-model="name.component.$other" />
                <div class="text-danger" ng-if="ownerForm[controlPrefix + 'name' + $index + '$other'].$invalid">
                    <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}</div>
        </div>
    </div>
    <div class="form-group row" ng-if="nameEdit.length &gt; 1 &amp;&amp; !noAdd">
        <div class="col">
            <div class="btn-group float-right">
                <button type="button" ng-click="removeName($index)" class="btn btn-danger"><i
                        class="fas fa-times"></i> {{ 'ui.action.remove' | i18n }}</button>
            </div>
        </div>
    </div>
</div>
