<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/audit/index.js</sdb:script>
    <sdb:state name="santedb-admin.security.audit.index" abstract="false">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.0.11</sdb:demand>
        <sdb:url></sdb:url>
        <sdb:view>
            <sdb:controller>AuditIndexController</sdb:controller>
        </sdb:view>
        <sdb:title lang="en">List</sdb:title>
    </sdb:state>
    
    <entity-table 
        id="SecurityAuditTable"
        type="Audit" 
        search-field="actor.uname" 
        i18n-prefix="'ui.model.audit.'"
        render="{ outcome: 'renderOutcome', event: 'renderEvent', action: 'renderAction', actor: 'renderActor', timestamp : 'renderTimestamp' }"
        item-actions="[ { name: 'view', sref: 'santedb-admin.security.audit.view', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.11', className: 'btn-primary', icon: 'fa fa-eye' } ]"
        properties="[ 'action', 'event', 'outcome', 'timestamp', 'actor' ]"
        sort="[ 'action', 'event', 'outcome', 'timestamp', 'actor' ]">

</entity-table>

</div>