<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/init/index.js</sdb:script>
    <sdb:state name="santedb-config.initial">
        <sdb:url>/initialSettings</sdb:url>
        <sdb:view>
            <sdb:controller>InitialSettingsController</sdb:controller>
            <sdb:title lang="en">Setup SanteDB</sdb:title>
        </sdb:view>
    </sdb:state>
    <div class="container-fluid" style="min-height: 100%">
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-md-3 d-none d-sm-block">
                <ul class="nav nav-pills flex-column" role="tablist" id="configurationStages">
                    <li class="active nav-item" role="presentation">
                        <a class="nav-link active" href="javascript:" data-target="#realmTab" data-toggle="tab">
                            <i class="fa fa-globe"></i> {{ 'ui.config.realm.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#syncTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fa fa-cloud-download-alt"></i> {{ 'ui.config.sync.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#subscribeTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fas fa-rss-square"></i> {{ 'ui.config.subscribe.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#dataTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fa fa-database"></i> {{ 'ui.config.data.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#logTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fa fa-list-ol"></i> {{ 'ui.config.log.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#securityTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fa fa-shield-alt"></i> {{ 'ui.config.security.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="javascript:" data-target="#networkTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                            <i class="fa fa-wifi"></i> {{ 'ui.config.network.title' | i18n }}</a>
                    </li>
                    <li role="presentation" class="nav-item">
                            <a class="nav-link" href="javascript:" data-target="#otherTab" data-toggle="tab" ng-class="{ 'disabled' : !config.realmName }">
                                <i class="fa fa-cog"></i> {{ 'ui.config.other.title' | i18n }}</a>
                        </li>
                </ul>
            </div>
            <div class="col-lg-10 col-sm-8 col-md-9 col-xs-12" style="padding-bottom: 150px; overflow:auto; max-height: 100%">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="realmTab">
                        <h4>
                            <i class="fa fa-globe"></i> {{ 'ui.config.realm.title' | i18n }}</h4>
                        <p>{{ 'ui.config.realm.description' | i18n }}</p>
                        <!-- #include virtual="~/views/realm/content.html" -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="syncTab">
                        <h4>
                            <i class="fa fa-cloud-download-alt"></i> {{ 'ui.config.sync.title' | i18n }}</h4>
                        <p>{{ 'ui.config.sync.description' | i18n }}</p>
                        <!-- #include virtual="~/views/sync/content.html" -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="subscribeTab">
                        <h4>
                            <i class="fas fa-rss-square"></i> {{ 'ui.config.subscribe.title' | i18n }}</h4>
                        <p>{{ 'ui.config.subscribe.description' | i18n }}</p>
                        <!-- #include virtual="~/views/subscription/content.html" -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="dataTab">
                        <h4>
                            <i class="fa fa-database"></i> {{ 'ui.config.data.title' | i18n }}</h4>
                        <p>{{ 'ui.config.data.description' | i18n }}</p>
                        <!-- #include virtual="~/views/data/content.html" -->

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="logTab">
                        <h4>
                            <i class="fa fa-list-ol"></i> {{ 'ui.config.log.title' | i18n }}</h4>
                        <p>{{ 'ui.config.log.description' | i18n }}</p>
                        <!-- #include virtual="~/views/log/content.html" -->

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="securityTab">
                        <h4>
                            <i class="fa fa-shield-alt"></i> {{ 'ui.config.security.title' | i18n }}</h4>
                        <p>{{ 'ui.config.security.description' | i18n }}</p>
                        <!-- #include virtual="~/views/security/content.html" -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="networkTab">
                        <h4>
                            <i class="fa fa-wifi"></i> {{ 'ui.config.network.title' | i18n }}</h4>
                        <p>{{ 'ui.config.network.description' | i18n }}</p>
                        <!-- #include virtual="~/views/network/content.html" -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="otherTab">
                            <h4>
                                <i class="fa fa-cog"></i> {{ 'ui.config.other.title' | i18n }}</h4>
                            <p>{{ 'ui.config.other.description' | i18n }}</p>
                        <!-- #include virtual="~/views/other/content.html" -->

                        </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="action-footer">
        <div class="btn-group">
            <button class="btn btn-lg btn-secondary" type="button" ng-click="back()" ng-disabled="wizardStep > 0">
                <i class="fa fa-chevron-left"></i> {{ 'ui.action.prev' | i18n }}</button>
            <button class="btn btn-lg btn-primary" type="button" ng-click="next()" >{{ 'ui.action.next' | i18n }}
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </footer>
</div>