<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>
    <div class="row" ng-if="scopedObject">
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header alert-info">
                    <h5 class="float-left mb-0"><i class="fas fa-user"></i> {{ 'ui.model.patient.demographics' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <div class="card-body " ng-if="scopedObject.editing != 'demographics'">
                    <div class="form-group row">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left mb-0"><i class="fas fa-user"></i> {{ 'ui.model.patient.identifiers' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <table class="table table-striped" ng-if="scopedObject.editing != 'identifier'">
                    <thead>
                        <tr>
                            <th>{{ 'ui.model.entityIdentifier.authority' | i18n }}</th>
                            <th>{{ 'ui.model.entityIdentifier.value' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in scopedObject.identifier">
                            <td>
                                <span class="badge badge-info"><i class="fas fa-book"></i> {{ v.authority | concept }}</span>
                            </td>
                            <td>
                                {{ v | name }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left mb-0"><i class="fas fa-user"></i> {{ 'ui.model.patient.names' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <table class="table table-striped" ng-if="scopedObject.editing != 'name'">
                    <thead>
                        <tr>
                            <th>{{ 'ui.model.entityName.use' | i18n }}</th>
                            <th>{{ 'ui.model.patient.name' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in scopedObject.name">
                            <td>
                                <span class="badge badge-info"><i class="fas fa-book"></i> {{ v.useModel | concept }}</span>
                            </td>
                            <td>
                                {{ v | name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left mb-0"><i class="fas fa-home"></i> {{ 'ui.model.patient.addresses' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <table class="table table-striped" ng-if="scopedObject.editing != 'address'">
                    <thead>
                        <tr>
                            <th>{{ 'ui.model.entityAddress.use' | i18n }}</th>
                            <th>{{ 'ui.model.patient.address' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in scopedObject.address">
                            <td>
                                <span class="badge badge-info"><i class="fas fa-book"></i> {{ v.useModel | concept }}</span>
                            </td>
                            <td>
                                {{ v | address}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left mb-0"><i class="fas fa-phone"></i> {{ 'ui.model.patient.telecoms' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <table class="table table-striped" ng-if="scopedObject.editing != 'address'">
                    <thead>
                        <tr>
                            <th>{{ 'ui.model.entityTelecom.use' | i18n }}</th>
                            <th>{{ 'ui.model.patient.telecom' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in scopedObject.telecom">
                            <td>
                                <span class="badge badge-info"><i class="fas fa-book"></i> {{ v.useModel | concept }}</span>
                            </td>
                            <td>
                                {{ v.value }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="float-left mb-0"><i class="fas fa-user-friends"></i> {{ 'ui.model.patient.relationship' | i18n }}</h5>
                    <button class="float-right btn btn-secondary">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                </div>
                <table class="table table-striped" ng-if="scopedObject.editing != 'address'">
                    <thead>
                        <tr>
                            <th>{{ 'ui.model.entityRelationship.type' | i18n }}</th>
                            <th>{{ 'ui.model.entityRelationship.target' | i18n }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in scopedObject.relationship">
                            <td>
                                <span class="badge badge-info"><i class="fas fa-book"></i> {{ v.relationshipTypeModel | concept }}</span>
                            </td>
                            <td>
                                {{ v.targetModel.name | name }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>