<div xmlns="http://www.w3.org/1999/xhtml">
    <form ng-submit="saveApplication(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="accordion" id="applicationAccordion">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#coreapplicationProps" aria-expanded="true">
                            <i class="fa fa-window-maximize"></i> {{ 'ui.admin.applications.edit.core.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="coreapplicationProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="sid">{{ 'ui.model.securityApplication.id' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="sid" readonly="readonly" type="text" class="form-control"
                                    ng-model="target.securityApplication.id" />
                                <input-copy-button class="btn btn-outline-secondary"
                                    source="target.securityApplication.id" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="applicationname">{{ 'ui.model.securityApplication.name' | i18n }}
                            </label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="applicationname" ng-readonly="target.securityApplication.id" type="text"
                                    class="form-control" pattern="^[A-Za-z0-9_\-\.\@]{3,}" minlength="3" maxlength="64"
                                    required="required" ng-model="target.securityApplication.name" />
                                <input-copy-button id="applicationNameCopyButton" class="btn btn-outline-secondary"
                                    source="target.securityApplication.name" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="targetForm.applicationname.$error['duplicate']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'ui.error.duplicate' | i18n }}
                                </div>
                                <div ng-show="targetForm.applicationname.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.applicationname.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.createdBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityApplication.createdBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <provenance provenance-id="target.securityApplication.createdBy"
                                    provenance-time="target.securityApplication.creationTime"></provenance>
                                {{ target.securityApplication.creationTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.updatedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityApplication.updatedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <provenance provenance-id="target.securityApplication.updatedBy"
                                    provenance-time="target.securityApplication.updatedTime"></provenance>
                                {{ target.securityApplication.updatedTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.obsoletedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityApplication.obsoletedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <provenance provenance-id="target.securityApplication.obsoletedBy"
                                    provenance-time="target.securityApplication.obsoletionTime"></provenance>
                                {{ target.securityApplication.obsoletionTime | extDate }} <button
                                    id="reactivateapplicationButton" ng-click="reactivateapplication()" type="button"
                                    class="btn btn-success"><i class="fas fa-trash-restore"></i>
                                    {{ 'ui.action.undelete' | i18n }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            aria-expanded="true" data-target="#securityProps">
                            <i class="fa fa-shield-alt"></i> {{ 'ui.admin.applications.edit.security.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="securityProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityApplication.lastAuthenticationTime' | i18n }}</label>
                            <div class="col-xs-12 col-md-10" ng-if="target.securityApplication.lastAuthenticationTime">
                                {{ target.securityApplication.lastAuthenticationTime | extDate: 'F' }}</div>
                            <div class="col-xs-12 col-md-10" ng-if="!target.securityApplication.lastAuthenticationTime">
                                {{ 'ui.admin.applications.edit.security.neverLoggedIn' | i18n }}</div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityApplication.invalidAuth' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                {{ target.securityApplication.invalidAuth || 0    }}
                                <button ng-click="resetInvalidLogins()" id="resetInvalidLoginsButton" type="button"
                                    class="btn btn-info">
                                    <i class="fas fa-undo"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.lockout > $root.page.currentTime">
                            <label for="lockout"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityApplication.lockout' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                {{ target.securityApplication.lockout | extDate: 'F' }}
                                <button ng-click="unlock()" id="unlockButton" class="btn btn-info" type="button">
                                    <i class="fa fa-lock-open"></i> {{ 'ui.action.unlock' | i18n }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityApplication.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityApplication.secret' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group"
                                ng-if="target.securityApplication.applicationSecret">
                                <input name="secret" ng-readonly="target.securityApplication.id" type="text"
                                    class="form-control" minlength="3" maxlength="64" readonly="readonly"
                                    ng-model="target.securityApplication.applicationSecret" />
                                <input-copy-button id="applicationsecretCopyButton" class="btn btn-outline-secondary"
                                    source="target.securityApplication.applicationSecret" />
                            </div>
                            <div class="col-xs-12 col-md-2" ng-if="!target.securityApplication.applicationSecret">
                                <button ng-click="resetSecret()" id="resetSecretButton" class="btn btn-info"
                                    type="button">
                                    <i class="fa fa-asterisk"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" ng-show="target.securityApplication.id">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#policyGroupProps" aria-expanded="true">
                            <i class="fa fa-certificate"></i> {{ 'ui.admin.applications.edit.policy.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="policyGroupProps">
                    <div class="card-body container-fluid">
                        <entity-policy-admin securable="target.securityApplication" policy="target.policy">
                        </entity-policy-admin>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#demographicProps">
                            <i class="fa fa-tablet-alt"></i> {{ 'ui.admin.applications.edit.demographics.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" ng-class="{ 'show' : !target.securityApplication.id }" id="demographicProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="softwareName">{{ 'ui.model.applicationEntity.softwareName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input type="text" maxlength="256" ng-model="target.entity.softwareName"
                                    name="softwareName" required="required" class="form-control" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                
                                <div ng-show="targetForm.softwareName.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="vendorName">{{ 'ui.model.applicationEntity.vendorName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input type="text" maxlength="256" ng-model="target.entity.vendorName" name="vendorName"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="versionName">{{ 'ui.model.applicationEntity.versionName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input type="text" maxlength="256" ng-model="target.entity.versionName"
                                    name="versionName" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <div class="btn-group float-right">
                <button type="submit" id="saveApplicationButton" class="btn btn-primary"><i class="fa fa-check"></i>
                    {{ 'ui.action.save' | i18n }}</button>
            </div>
            
    </form>
    <!-- #include virtual="/org.santedb.uicore/views/dialogs/password.partial.html" -->
</div>