<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet"
    oc-lazy-load="{name:'HierarchyWidgetController', files: ['/org.santedb.admin/controllers/widgets/hierarchyWidgetController.js'] }">
    <sdb:widget name="org.santedb.widget.admin.panel.organization.hierarchy" type="Panel"
        context="org.santedb.organization.admin.profile" size="Medium" order="10">
        <sdb:icon>fas fa-fw fa-sitemap</sdb:icon>
        <sdb:description lang="en">Hierarchy</sdb:description>
        <sdb:views>
            <sdb:view type="Edit">
                <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.4.2.0</sdb:demand>
            </sdb:view>
        </sdb:views>
    </sdb:widget>

    <div ng-if="!scopedObject">
        <i class="fas fa-spin fa-circle-notch"></i> {{ 'ui.wait' | i18n }}
    </div>
    <div ng-if="scopedObject" ng-controller="HierarchyWidgetController" class="container-fluid">

        <form name="panel.editForm" ng-submit="saveHierarchy(panel.editForm)">
            <div class="form-group row">
                <label class="col-12 font-weight-bold" for="parent">{{
                    'ui.model.entity.relationship.Parent' | i18n }} <hint-popover
                        hint-title="ui.model.entity.relationship.Parent" /></label>
                <div class="col-12">
                    <div ng-show="panel.view != 'Edit'" ng-if="scopedObject.relationship.Parent[0].targetModel">
                        <a target="_blank" ui-sref="santedb-admin.data.organization.view({id: scopedObject.relationship.Parent[0].target})"><i class="fas fa-people-arrows"></i> {{ scopedObject.relationship.Parent[0].targetModel.name | name }} - (<i class="fas fa-map-marker"></i> {{ scopedObject.relationship.Parent[0].targetModel.address | address }}) <sup><i class="fas fa-external-link-alt"></i></sup></a>
                    </div>
                    <div ng-show="panel.view == 'Edit'">
                    <entity-search type="'Organization'"
                    group-by="['address.Postal[0].component.State[0]','address.Public[0].component.State[0]']" ng-model="scopedObject.relationship.Parent[0].target"
                        search-field="'name.component.value'"
                        for-relationship-type="'bfcbb345-86db-43ba-b47e-e7411276ac7c'"
                        with-relationship-source-class="scopedObject.classConcept"></entity-search>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12 font-weight-bold">
                    {{ 'ui.model.entity.relationship.Children' | i18n }} <hint-popover
                        hint-title="ui.model.entity.relationship.Children" />
                </label>
                <div class="col-12">
                    <entity-table id="hierarchyTable" type="Organization" search-field="name.component.value"
                        stateless="true"
                        can-filter="true"
                        default-query="{ 'obsoletionTime' : 'null', _viewModel: 'fastView', 'relationship[Parent].target' : scopedObject.id }"
                        render="{ name: 'renderName', classConcept: 'renderClass', statusConcept : 'renderStatusConcept' }"
                        i18n-prefix="'ui.model.entity.'"
                        item-actions="[ 
                            { name: 'view', sref: 'santedb-admin.data.organization.view', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.4', className: 'btn-info', icon: 'fa fa-eye' }, 
                            { name: 'remove', action: 'removeChild', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.4.2.0', className: 'btn-danger', icon: 'fa fa-times' } 
                        ]"
                        properties="[ 'name', 'classConcept', 'statusConcept' ]" button-bar="'#addChildHeader'" />
                </div>

                <div id="addChildHeader">
                    <div class="input-group" ng-show="panel.view == 'Edit'">
                        <entity-search type="'Organization'" style="width:75%"
                        group-by="['address.PhysicalVisit[0].component.State[0]','address.Direct[0].component.State[0]']" ng-model="newChild"
                            search-field="'name.component.value'"
                            for-relationship-type="'bfcbb345-86db-43ba-b47e-e7411276ac7c'"
                            with-relationship-target-class="editObject.classConcept"></entity-search>
                            <div class=" input-group-append">
                        <button type="button" id="btnAddChild" class="btn btn-primary input-group-btn" ng-click="addChild(newChild)"><i
                                class="fas fa-plus-circle"></i> {{ 'ui.action.add' | i18n }}</button>
                            </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>