<div class="container" xmlns="http://www.w3.org/1999/xhtml">
    <div class="form-group row">
        <label for="networkOptimization" class="control-label col-md-2  col-xs-12">{{ 'ui.config.network.optimize.label' | i18n }}</label>
        <div class="col-md-10  col-xs-12">
            <select class="form-control" id="optimize" name="networkOptimization" ng-model="config.network.optimize">
                <option value="lzma">{{ 'ui.config.network.optimize.lzma' | i18n }}</option>
                <option value="bzip2">{{ 'ui.config.network.optimize.bzip2' | i18n }}</option>
                <option value="gzip" selected="selected">{{ 'ui.config.network.optimize.gzip' | i18n }}</option>
                <option value="deflate">{{ 'ui.config.network.optimize.deflate' | i18n }}</option>
                <option value="off">{{ 'ui.config.network.optimize.off' | i18n }}</option>
            </select>
            <div class="form-text text-muted">
                {{ 'ui.config.network.optimize.help' | i18n }}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="offset-md-2 col-md-10 col-xs-12">
            <input ng-model="config.network.useProxy" type="checkbox" /> {{ 'ui.config.network.useProxy' | i18n }}
        </label>
    </div>
    <div class="form-group row" ng-if="config.network.useProxy">
        <label class="control-label col-md-2 col-xs-12">{{ 'ui.config.network.proxyAddress.label' | i18n }}</label>
        <div class="col-md-10 col-xs-12">
            <input type="url" class="form-control" ng-model="config.network.proxyAddress" placeholder="http://proxyaddress.com"/>
            <div class="form-text text-muted">
                {{ 'ui.config.network.proxyAddress.help' | i18n }}
            </div>
        </div>
    </div>
</div>