<!-- User Password Partial -->
<div class="modal fade" role="dialog" id="passwordModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet"
    oc-lazy-load="{ name: 'PasswordController', files: ['/org.santedb.uicore/controllers/security/password.js'] }">
    <div class="modal-dialog modal-md" role="document" ng-controller="PasswordController">
        <form class="form" ng-submit="doReset(passwordForm)" name="passwordForm" novalidate="novalidate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-asterisk"></i> {{ 'ui.password.title' | i18n }}</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- #include virtual="~/partials/security/password.html" -->
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-secondary" ng-click="closeForm(passwordForm)"><i class="fa fa-times"></i> {{ 'ui.action.cancel' | i18n }}</button>
                        <button type="submit" id="passwordButton" class="btn btn-lg btn-primary"><i class="fa fa-check"></i> {{ 'ui.action.save' | i18n }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>