<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:widget type="Panel" name="org.santedb.material.admin.widget.panel.core"
        context="org.santedb.material.admin.core" order="0" size="Medium">
        <sdb:icon>fas fa-fw fa-pills</sdb:icon>
        <sdb:name lang="en">Material Properties</sdb:name>
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.4.0.1.3</sdb:demand>
        <sdb:views>
            <sdb:view type="Edit">
                <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.4.1.0</sdb:demand>
            </sdb:view>
        </sdb:views>
    </sdb:widget>

    <div ng-if="!scopedObject">
        <i class="fas fa-spin fa-circle-notch"></i> {{ 'ui.wait' | i18n }}
    </div>
    <div ng-if="scopedObject" ng-controller="MaterialWidgetController">
        <div ng-if="panel.view != 'Edit'" class="container-fluid">
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.material.typeConcept' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2">
                    {{ scopedObject.typeConceptModel | concept }}
                    <span ng-repeat="(dmn, rt) in scopedObject.typeConceptModel.referenceTerm"
                        class="badge badge-light">{{ rt[0].termModel.mnemonic }} ({{dmn}})</span>
                </div>
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.material.isAdministrable' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2">
                    <span class="badge"
                        ng-class="{'badge-success' : scopedObject.isAdministrable, 'badge-secondary' : !scopedObject.isAdministrable}">
                        <i class="fas fa-fw"
                            ng-class="{ 'fa-check' : scopedObject.isAdministrable, 'fa-times' : !scopedObject.isAdministrable }"></i>
                        {{ scopedObject.isAdministrable ? 'ui.true' : 'ui.false' | i18n }}
                    </span>
                </div>
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.entity.name' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2">
                    <ul class="p-0 m-0 list-unstyled">
                        <li ng-repeat="(typ, name) in scopedObject.name">
                            <ul class="p-0 m-0">
                                <li ng-repeat="n in name track by $index">
                                    {{ name | name }} <span class="badge badge-light">{{ typ }}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <label class="col-md-3 col-sm-12 control-label" ng-if="scopedObject.formConceptModel">
                    {{ 'ui.model.material.formConcept' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2" ng-if="scopedObject.formConceptModel">
                    {{ scopedObject.formConceptModel | concept }}
                </div>
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.material.quantityConcept' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2">
                    {{ scopedObject.quantityConceptModel | concept }}
                    <span ng-repeat="(dmn, rt) in scopedObject.quantityConceptModel.referenceTerm"
                        class="badge badge-light">{{ rt[0].termModel.mnemonic }} ({{dmn}})</span>
                </div>
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.entity.identifier' | i18n }}
                </label>
                <div class="col-md-9 col-sm-12 pt-2">
                    <ul class="m-0 p-0 list-unstyled">
                        <li ng-repeat="(dmn, id) in scopedObject.identifier">
                            <ul class="p-0 m-0">
                                <li ng-repeat="i in id track by $index">{{ i.value }} <span class="badge badge-light">{{
                                        i.domainModel.name || i.domainModel.domainName || dmn }}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.material.relationship.RegulatedProduct' |
                    i18n }}</label>
                <div class="col-md-9 col-sm-12 mt-2">
                    <a ng-if="scopedObject.relationship.RegulatedProduct"
                        ui-sref="santedb-admin.data.organization.view({id: scopedObject.relationship.RegulatedProduct[0].holder})"
                        target="_blank">{{ scopedObject.relationship.RegulatedProduct[0].holderModel.name | name }}
                        <sup><i class="fas fa-external-link-alt fa-fw"></i></sup></a>
                    <span ng-if="!scopedObject.relationship.RegulatedProduct.length">{{ 'ui.unknown' | i18n }} </span>
                </div>
                <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.material.extension.TargetCondition' | i18n
                    }}</label>
                <div class="col-md-9 col-sm-12 mt-2">
                    <ul class="list-group"
                        ng-if="scopedObject.extension['http://santedb.org/extensions/core/targetCondition']">
                        <li class="list-group-item"
                            ng-repeat="cond in scopedObject.extension['http://santedb.org/extensions/core/targetCondition'] track by $index">
                            {{ cond | concept }}
                        </li>
                    </ul>
                    <span ng-if="!scopedObject.extension['http://santedb.org/extensions/core/targetCondition']">{{
                        'ui.unknown' | i18n }} </span>

                </div>
            </div>
        </div>
        <form ng-if="panel.view === 'Edit'" name="panel.editForm" novalidate="novalidate" autocomplete="off"
            ng-submit="saveMaterial(panel.editForm)">
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label required">
                    {{ 'ui.model.material.typeConcept' | i18n }} <hint-popover
                        hint-title="ui.model.material.typeConcept" />
                </label>
                <div class="col-md-9 col-sm-12">
                    <entity-search is-required="true" class="form-control" type="'ConceptSet'" required="required"
                        child-resource="'_members'" child-resource-scope="'a53ffda7-531c-46ce-85bc-f7ca2e07666d'"
                        ng-model="editObject.typeConcept" search-field="'name.value'"
                        name="typeConcept"></entity-search>
                    <div class="text-danger" ng-if="panel.editForm.typeConcept.$error['required']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-9 offset-md-3">
                    <input type="checkbox" ng-model="editObject.isAdministrable" /> {{
                    'ui.model.material.isAdministrable' | i18n }} <hint-popover
                        hint-title="ui.model.material.isAdministrable" />
                </label>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label required">
                    {{ 'ui.model.material.name.OfficialRecord' | i18n }} <hint-popover
                        hint-title="ui.model.material.name.OfficialRecord" />
                </label>
                <div class="col-md-9 col-sm-12">
                    <input type="text" required="required" name="officialName" class="form-control"
                        ng-model="editObject.name.OfficialRecord[0].component.$other[0]" maxlength="256" />
                    <div class="text-danger" ng-if="panel.editForm.officialName.$error['required']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label required">
                    {{ 'ui.model.material.name.Assigned' | i18n }} <hint-popover
                        hint-title="ui.model.material.name.Assigned" />
                </label>
                <div class="col-md-9 col-sm-12">
                    <input type="text" required="required" name="assignedName" class="form-control"
                        ng-model="editObject.name.Assigned[0].component.$other[0]" maxlength="64" />
                    <div class="text-danger" ng-if="panel.editForm.assignedName.$error['required']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label required">
                    {{ 'ui.model.material.formConcept' | i18n}} <hint-popover
                        hint-title="ui.model.material.formConcept" />
                </label>
                <div class="col-md-9 col-sm-12">
                    <concept-select class="form-control" ng-required="editObject.isAdministrable"
                        ng-disabled="!editObject.isAdministrable" name="formConcept"
                        concept-set="'AdministrableDrugForm'" ng-model="editObject.formConcept" />
                    <div class="text-danger" ng-if="panel.editForm.formConcept.$error['required']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label required">
                    {{ 'ui.model.material.quantityConcept' | i18n }} <hint-popover
                        hint-title="ui.model.material.quantityConcept" />
                </label>
                <div class="col-md-9 col-sm-12">
                    <concept-select class="form-control" required="required" name="quantityConcept"
                        concept-set="'DosingUnitOfMeasure'" ng-model="editObject.quantityConcept" />
                    <div class="text-danger" ng-if="panel.editForm.quantityConcept.$error['required']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>

            <div class="form-group row" ng-repeat="dmn in idDomains track by $index">
                <label class="col-sm-12 col-md-3 control-label">{{ dmn.name }}</label>
                <div class="col-sm-12 col-md-9">
                    <input type="text" ng-pattern="dmn.validation"
                        ng-init="editObject.identifier[dmn.domainName] = editObject.identifier[dmn.domainName] || []"
                        ng-model="editObject.identifier[dmn.domainName][0].value" placeholder="{{dmn._exampleValue}}"
                        class="form-control" name="id{{$index}}" />
                    <div class="text-danger" ng-if="panel.editForm['id' + $index].$error['pattern']">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.material.relationship.RegulatedProduct' |
                    i18n }}
                    <hint-popover hint-title="ui.model.material.relationship.RegulatedProduct" />
                </label>
                <div class="col-md-9 col-sm-12 mt-2">
                    <entity-search class="form-control" type="'Organization'"
                        ng-model="editObject.relationship.RegulatedProduct[0].source" name="regulator" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.material.extension.TargetCondition' | i18n
                    }}
                    <hint-popover hint-title="ui.model.material.extension.TargetCondition" />
                </label>
                <div class="col-md-9 col-sm-12 mt-2">
                    <entity-search is-required="true" class="form-control" type="'ConceptSet'" multiple="mutliple"
                        child-resource="'_members'" child-resource-scope="'d6cbe607-51e3-49cc-9b20-cb2a2d3c586e'"
                        ng-model="editObject.extension['http://santedb.org/extensions/core/targetCondition']"
                        value-property="'id'" search-field="'name.value'" name="typeConcept"></entity-search>
                </div>
            </div>
        </form>
    </div>
</div>