.form-group > label.control-label {
    text-align: left;
    font-weight: bold
}

@media only screen and (min-width:768px) {
    .form-group > label.control-label {
        text-align: right
    }
}

html, body {
    height:100%
}

.action-footer {
    bottom: 0;
    border-top: solid 1px #e9ecef;;
    position: fixed;
    margin-top: -81px; /* negative value of footer height */
    height: 81px;
    clear:both;
    padding-top:20px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color:white;
    width: 100%;
  } 

  entity-search ~ .select2-container {
      width:100%
  }

  ul.checklist-box {
      min-height: 1em;
      height: 6em;
      overflow: auto;
      list-style-type: none;
      padding-left: 1em;
      border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .collapse-indicator i {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.collapse-indicator[aria-expanded="true"] i {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
