<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/places/edit.js</sdb:script>
    <sdb:state name="santedb-admin.data.facility.edit">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.4</sdb:demand>
        <sdb:url>/{id}</sdb:url>
        <sdb:view>
            <sdb:controller>PlaceEditController</sdb:controller>
            <sdb:title lang="en">Edit Facility</sdb:title>
        </sdb:view>
    </sdb:state>
    <form name="targetForm" ng-submit="savePlace(targetForm)" novalidate="novalidate">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-start">
                    <h5 class="card-title mb-0"><i class="fas fa-hospital"></i> {{ target.name | name }}</h5>
                    <div class="ms-3 ml-3 badge badge-info">{{ target.typeConceptModel | concept }}</div>
                </div>
            </div>
        </div>
        <widget-tabs context-name="'org.santedb.facility.admin'" scoped-object="target" class="mb-2" />
        <div class="d-flex">
            <button type="submit" id="saveUserButton" class="btn btn-primary"><i class="fa fa-check"></i> {{ 'ui.action.save' | i18n }}</button>
        </div>
    </form>
</div>