<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" 
    oc-lazy-load="{ name: 'EditApplicationController', files: ['/org.santedb.admin/controllers/applications/edit.js'] }" >
    <sdb:widget order="16" name="org.santedb.widget.admin.panel.device.extended"  headerClass="bl-light"
        size="Large" type="Panel" context="org.santedb.securityDevice.admin">
        <sdb:icon>fas fa-fa-mobile</sdb:icon>
        <sdb:description lang="en">Extended Properties</sdb:description>
    </sdb:widget>

    <div class="row" ng-if="!scopedObject">
        <div class="col">
            <p class="m-auto"><i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}</p>
        </div>
    </div>
    <form ng-submit="saveDevice(targetForm, scopedObject)" name="targetForm" novalidate="novalidate" ng-controller="EditDeviceController">
        <div id="demographicProps">
            <div class="form-group row">
                <label for="modelName"
                    class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.manufacturerModelName' | i18n }}</label>
                <div class="col-xs-12 col-md-10">
                    <input required="required" name="modelName" type="text" class="form-control" maxlength="128"
                        ng-model="scopedObject.entity.manufacturerModelName" />
                </div>
                <div class="col-sm-12 col-md-10 offset-md-2"><div ng-show="scopedObject.modelName.$error['required'] &amp;&amp; scopedObject.$submitted"
                        class="alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                    </div>
            </div>
            <div class="form-group row">
                <label for="operatingSystemName"
                    class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.operatingSystemName' | i18n }}</label>
                <div class="col-xs-12 col-md-10">
                    <input required="required" name="operatingSystemName" type="tel" class="form-control"
                        ng-model="scopedObject.entity.operatingSystemName" />
                </div>
                <div class="col-sm-12 col-md-10 offset-md-2"><div ng-show="targetForm.operatingSystemName.$error['required'] &amp;&amp; targetForm.$submitted"
                        class="alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                    </div>
            </div>
            <div class="form-group row">
                <label for="facility"
                    class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.relationship.DedicatedServiceDeliveryLocation' | i18n }}</label>
                <div class="col-xs-12 col-md-10">
                    <entity-search type="'Place'" name="facility"
                        filter="{ obsoletionTime: 'null', classConcept: EntityClassKeys.ServiceDeliveryLocation }"
                        class="form-control"
                        ng-model="scopedObject.entity.relationship.DedicatedServiceDeliveryLocation"
                        value-property="'scopedObject'" />
                </div>
            </div>
            <div class="form-group row">
                <label for="assignedEntity" 
                    class="col-xs-12 col-md-2 control-label">{{ 'ui.model.deviceEntity.relationship.AssignedEntity' | i18n }}</label>
                <div class="col-xs-12 col-md-10">
                    <entity-search type="'UserEntity'"
                        filter="{ obsoletionTime: 'null' }"
                        class="form-control"
                        name="assignedEntity"
                        ng-model="scopedObject.entity.relationship.AssignedEntity"
                        value-property="'scopedObject'" />
                </div>
            </div>
        </div>
        <div class="btn-group float-right">
            <button type="submit" id="saveDeviceButton" class="btn btn-primary"><i class="fa fa-check"></i>
                {{ 'ui.action.save' | i18n }}</button>
        </div>
    </form>
</div>