<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/logs/view.js</sdb:script>
    <sdb:state name="santedb-admin.system.logs.view" abstract="false">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.10</sdb:demand>
        <sdb:url>/:id</sdb:url>
        <sdb:view>
            <sdb:controller>LogViewController</sdb:controller>
            <sdb:title lang="en">View</sdb:title>
        </sdb:view>
    </sdb:state>
    <div>
        <div class="card" ng-if="!maximized">
            <div class="card-header">
                <div ng-if="!log" class="text-center">
                    <i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}
                </div>
                <h2 ng-if="log" class="mb-0">{{ log.name }} </h2>
            </div>
            <div class="card-body">
                <pre style="height: 25em" id="logContent">{{ log.content }}</pre>
            </div>
            <div class="card-footer text-right">
                <a id="downloadLog" class="btn btn-primary" href="{{getDownloadLink()}}" target="_blank"><i class="fas fa-file-download"></i> {{ 'ui.action.download' | i18n }}</a>
            </div>
        </div>
    </div>
</div>