<div ng-controller="EditSecurityCertificatesController" xmlns="http://www.w3.org/1999/xhtml">


    <entity-table id="AuthenticationCertificatesTable" type="{{scopedObject.$refType}}" sub-resource="auth_cert"
        sub-resource-holder="scopedObject.id" search-field="sub" i18n-prefix="'ui.model.certificateInfo.'"
        key-property="'thumbprint'" no-deleted="true" button-bar="'#addAuthenticationCertificateDiv'"
        item-actions="[ 
            { name: 'download', action: 'downloadAuthenticationCertificate', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.19.3', className: 'btn-info', icon: 'fa fa-arrow-down' }, 
            { name: 'delete', action: 'deleteAuthenticationCert', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.19.3', className: 'btn-danger', icon: 'fa fa-trash' } 
        ]"
        properties="[  'sub', 'iss', 'nbf', 'exp' ]" sort="{ 'exp' : 'desc' }">
    </entity-table>

    <div id="addAuthenticationCertificateDiv">
        <form ng-submit="addAuthenticationCertificate(addAuthenticationCertificateForm)"
            name="addAuthenticationCertificateForm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'ui.admin.securityEntity.certificate.add' | i18n }}
                        <hint-popover hint-title="ui.admin.securityEntity.certificate.auth" />
                    </span>
                </div>
                <input type="file" class="form-control" name="uploadCert" valid-file="valid-file"
                    ng-model="newCertificate" required="required" accept=".cer, .cert, .der" />
                <button type="submit" id="btnSubmitAuthenticationCert"
                    ng-disabled="addAuthenticationCertificateForm.$invalid" class="btn btn-primary"><i
                        class="fas fa-arrow-up"></i> {{ 'ui.action.upload'
                    | i18n }}</button>
            </div>
        </form>
    </div>
</div>
