<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" ng-controller="LoginController" 
    ng-init="login = { grant_type: 'password', forbidPin: true, welcomeMessage: 'ui.admin.loginMessage', noSession: false }" class="login-panel">
    <sdb:style static="false">~/css/admin.css</sdb:style>
    <sdb:style static="false">~/css/sb-admin.css</sdb:style>
    <div class="logo-centered"></div>
    <form class="form" ng-submit="doLogin(loginForm)" name="loginForm">
        <!-- #include virtual="/org.santedb.uicore/partials/security/login.html" -->
        <button type="submit" id="loginButton" class="btn btn-lg btn-primary">
            <i class="fa fa-check"></i> {{ 'ui.action.login' | i18n }}</button>
    </form>

</div>