<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/applications/create.js</sdb:script>
    <sdb:state name="santedb-admin.security.applications.create" abstract="false">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.0.8</sdb:demand>
        <sdb:url>/</sdb:url>
        <sdb:view>
            <sdb:controller>CreateApplicationController</sdb:controller>
            <sdb:title lang="en">Create Application</sdb:title>
        </sdb:view>
    </sdb:state>

    <form ng-submit="saveApplication(createForm)" name="createForm" novalidate="novalidate">
        <div class="accordion mb-2" id="applicationAccordion">
            <div class="card">
                <div class="collapse show" id="coreapplicationProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="sid">{{ 'ui.model.securityApplication.id' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="sid"  autocomplete="__away" readonly="readonly" type="text" class="form-control"
                                    ng-model="target.securityApplication.id" />
                                <input-copy-button button-class="'btn-outline-secondary'"
                                    source="target.securityApplication.id" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="applicationname">{{ 'ui.model.securityApplication.name' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="applicationname"  autocomplete="__away" ng-readonly="target.securityApplication.id" type="text"
                                    class="form-control" pattern="^[A-Za-z0-9_\-\.\@]{3,}" minlength="3" maxlength="64"
                                    required="required" ng-model="target.securityApplication.name" />
                                <input-copy-button id="applicationNameCopyButton" button-class="'btn-outline-secondary'"
                                    source="target.securityApplication.name" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="createForm.applicationname.$error['duplicate']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'ui.error.duplicate' | i18n }}
                                </div>
                                <div ng-show="createForm.applicationname.$error['required'] &amp;&amp; createForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="createForm.applicationname.$error['pattern'] &amp;&amp; createForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="card">
                <div class="collapse" ng-class="{ 'show' : !target.securityApplication.id }" id="demographicProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="softwareName">{{ 'ui.model.applicationEntity.softwareName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input ng-required="true"  autocomplete="__away" type="text" maxlength="256" ng-model="target.entity.softwareName"
                                    name="softwareName" class="form-control" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="createForm.softwareName.$error['required'] &amp;&amp; createForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="vendorName">{{ 'ui.model.applicationEntity.vendorName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input type="text"  autocomplete="__away" maxlength="256" ng-model="target.entity.vendorName" name="vendorName"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-12 control-label"
                                for="versionName">{{ 'ui.model.applicationEntity.versionName' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                <input type="text"  autocomplete="__away" maxlength="256" ng-model="target.entity.versionName"
                                    name="versionName" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <div class="btn-group float-right">
                <button type="submit" id="saveApplicationButton" class="btn btn-primary"><i class="fa fa-check"></i>
                    {{ 'ui.action.save' | i18n }}</button>
            </div>
            
    </form>
</div>