<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet"
    oc-lazy-load="{name:'CdssWidgetController', files: ['/org.santedb.admin/controllers/cdss/widget.js'] }">
    <sdb:widget name="org.santedb.widget.cdr.cdssLibrary.main.attribute" type="Panel" context="org.santedb.emr.cdssLibrary.main" order="0"
    size="Medium" headerClass="alert-info">
        <sdb:icon>fas fa-bars</sdb:icon>
        <sdb:description lang="en">Core Properties</sdb:description>
    </sdb:widget>

    <div ng-controller="CdssWidgetController">
        <div class="container-fluid">

            <div class="row">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.name'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.name }}</div>
            </div>
            <div class="row">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.id'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.id }}</div>
            </div>
            <div class="row" ng-if="scopedObject.library.oid">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.oid'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.oid }}</div>
            </div>
            <div class="row" ng-if="scopedObject.library.meta.version">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.metadata.version'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.meta.version }}</div>
            </div>
            <div class="row" ng-if="scopedObject.library.meta.version">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.metadata.documentation'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.meta.documentation }}</div>
            </div>
            <div class="row" ng-if="scopedObject.library.meta.author">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.metadata.author'|i18n}}</label>
                <div class="col-sm-12 col-md-9">{{ scopedObject.library.meta.author }}</div>
            </div>
            <div class="row" ng-if="scopedObject.library.include">
                <label class="control-label col-sm-12 col-md-3">{{ 'ui.model.cdssLibraryDefinition.include' | i18n }}</label>
                <ul class="col-sm-12 col-md-9 list-unstyled">
                    <li ng-repeat="inc in scopedObject.library.include">
                        <button type="button" ng-click="navigateToDefinition(inc)"  class="btn btn-link">{{ inc }}</button>
                    </li>
                </ul>
            </div>
            <div class="row">
                <label class="control-label col-sm-12 col-md-3">{{'ui.model.cdssLibraryDefinition.modifiedOn' | i18n }}</label>
                <div class="col-sm-12 col-md-9">
                    <provenance provenance-id="scopedObject.createdBy"
                        provenance-time="scopedObject.creationTime" />
                </div>
            </div>
        </div>
        
    </div>
</div>