<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:state name="santedb-admin.data" abstract="true">
        <sdb:url>data</sdb:url>
        <sdb:view>
            <sdb:title lang="en">Reference Data</sdb:title>
        </sdb:view>
    </sdb:state>
    <div class="container-fluid">
        <div class="row" ng-if="$root.system.config.sync.mode == 'Sync'">
            <div class="col alert alert-warning">
                <i class="fas fa-exclamation-triangle"></i> {{ 'ui.admin.syncMode.warning' | i18n}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>