<div xmlns="http://www.w3.org/1999/xhtml" class="row" ng-if="strength !== undefined">
    <label class="col-sm-3 control-label">
        {{ 'ui.password.strength.label' | i18n }}
    </label>
    <div class="col-sm-6 align-middle">
        <div class="container-fluid">
            <div class="row  border">
                <i class="col-md-2 text-center text-danger fas fa-square" ng-if="strength >= 0"></i>
                <i class="col-md-2 text-center text-danger fas fa-square" ng-if="strength >= 1"></i>
                <i class="col-md-2 text-center text-warning fas fa-square" ng-if="strength >= 2"></i>
                <i class="col-md-2 text-center text-warning fas fa-square" ng-if="strength >= 3"></i>
                <i class="col-md-2 text-center text-success fas fa-square" ng-if="strength >= 4"></i>
                <i class="col-md-2 text-center text-success fas fa-square" ng-if="strength >= 5"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <span ng-switch="strength">
            <span ng-switch-when="0">{{ 'ui.password.strength.lowlow' | i18n }}</span>
            <span ng-switch-when="1">{{ 'ui.password.strength.low' | i18n }}</span>
            <span ng-switch-when="2">{{ 'ui.password.strength.moderate' | i18n }}</span>
            <span ng-switch-when="3">{{ 'ui.password.strength.moderate' | i18n }}</span>
            <span ng-switch-when="4">{{ 'ui.password.strength.high' | i18n }}</span>
            <span ng-switch-when="5">{{ 'ui.password.strength.highhigh' | i18n }}</span>
        </span>

    </div>
</div>