<div xmlns="http://www.w3.org/1999/xhtml" class="container">
    <div class="form-group row">
        <label for="dataProviderType" class="control-label col-sm-2  col-xs-12">{{ 'ui.config.data.provider.label' | i18n }}</label>
        <div class="col-sm-10  col-xs-12">
            <select ng-model="config.data.provider" class="form-control" size="1" required="required" name="dataProviderType">
                <option ng-repeat="dbp in reference.dataProviders" value="{{dbp.invariant}}">{{dbp.name}} ({{ 'ui.config.dbp.help.' + dbp.name | i18n }})</option>
            </select>
            <div class="form-text text-muted">
                {{ 'ui.config.data.provider.help' | i18n }}
            </div>
        </div>
    </div>
    <div class="form-group row" ng-if="reference.providerData">

        <label class="control-label col-sm-2 col-xs-12">{{ reference.providerData.name }} {{ 'ui.config.data.options.label' | i18n }}</label>
        <div class="col-sm-10 col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'ui.config.data.options.setting' | i18n }}</th>
                        <th>{{ 'ui.config.data.options.value' | i18n }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(optKey, optType) in reference.providerData.options track by $index">
                        <td>{{ optKey }}</td>
                        <td ng-switch="optType">
                            <input ng-switch-when="Boolean" type="checkbox" ng-model="config.data.options[optKey]" value="true"/>
                            <input ng-switch-when="String" type="text" ng-model="config.data.options[optKey]" class="form-control"/>
                            <input ng-switch-when="Password" type="password" ng-model="config.data.options[optKey]" class="form-control"/>
                            <input ng-switch-when="Numeric" type="number" ng-model="config.data.options[optKey]" class="form-control"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>