<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:widget order="40" name="org.santedb.widget.admin.panel.facility.profile.services" type="Panel"
        context="org.santedb.facility.admin.profile" size="Medium">
        <sdb:icon>fas fa-fw fa-concierge-bell</sdb:icon>
        <sdb:description lang="en">Services</sdb:description>
    </sdb:widget>
    <div class="container-fluid">
        <div class="row" ng-repeat="service in scopedObject.service track by $index">
            <div class="col-12">
                <hr ng-if="$index &gt; 0 &amp;&amp; scopedObject.service.length &gt; 1" />
                <div class="form-group row">
                    <label for="service{{$index}}code" class="col-md-3 col-sm-12 control-label">{{
                        'ui.model.service.code' | i18n }}</label>
                    <div class="col-sm-12 col-md-9">
                        <entity-search class="form-control" type="'Concept'" 
                        filter="{statusConcept: 'c8064cbd-fa06-4530-b430-1a52f1530c27', 'conceptSet.mnemonic': 'ServiceCode'}" 
                        ng-model="service.serviceConcept"></entity-search>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <schedule-edit json-schedule="service.serviceSchedule"></schedule-edit>
                    </div>
                </div>
                <div class="row" ng-if="scopedObject.service.length &gt; 1">
                    <div class="col text-right text-end mb-2">
                        <button type="button" class="btn btn-danger" ng-click="scopedObject.service.splice($index, 1)">{{ 'ui.action.remove' | i18n }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button class="btn btn-primary" type="button"
            ng-click="scopedObject.service = scopedObject.service || []; scopedObject.service.push({})"><i
                class="fas fa-fw fa-plus"></i> {{ 'ui.action.add' | i18n }}</button>
    </div>
</div>