<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            {{ 'ui.login.realm' | i18n }} : <strong>{{ $root.system.realm }}</strong>
        </div>
    </div>
    <div class="form-group row">
        <label for="loginUserName" class="col-sm-3 control-label">{{ 'ui.login.input.username' | i18n }}</label>
        <div class="col-sm-9">
            <input type="text" required="required" ng-model="login.username" name="loginUserName" class="form-control" />
        </div>
    </div>
    <div class="form-group row" ng-if="login.grant_type == 'password'">
        <label for="loginPassword" class="col-sm-3 control-label">{{ 'ui.login.input.password' | i18n }}</label>
        <div class="col-sm-9">
            <input type="password" ng-required="login.grant_type == 'password'" ng-model="login.userName" name="loginPassword" class="form-control"
            />
        </div>
    </div>
    <div class="form-group row" ng-if="login.grant_type != 'password'">
        <label for="loginPin" class="col-sm-3 control-label">{{ 'ui.login.input.pin' | i18n }}</label>
        <div class="col-sm-9">
            <input type="password" pattern="[0-9]{4,8}" ng-required="login.grant_type != 'password'" inputmode="numeric" ng-model="login.pin"
                name="loginPin" class="form-control" />
        </div>
    </div>
    <div class="form-group row" ng-if="login.requirePou">
            <label for="loginPou" class="col-sm-3 control-label">{{ 'ui.login.input.purpose' | i18n }}</label>
            <div class="col-sm-9">
                <select class="form-control" ng-required="login.requirePou">
                </select>
            </div>
    </div>
    <div class="form-group row" ng-if="!login.forbidPin">
        <div class="btn-group btn-group-toggle mx-auto">
            <label class="btn btn-info" ng-class="{ 'active' : login.grant_type == 'password' }">
                <input type="radio" name="loginMode" ng-model="login.grant_type" value="password" ng-checked="login.grant_type == 'password'"/>
                <i class="fa fa-keyboard"></i>
            </label>
            <label class="btn btn-info" ng-class="{ 'active' : login.grant_type != 'password' }">
                <input type="radio" name="loginMode" ng-model="login.grant_type" value="pin" ng-checked="login.grant_type != 'password'"/>
                <i class="fa fa-th"></i>
            </label>
        </div>
    </div>
</div>