<div xmlns="http://www.w3.org/1999/xhtml">
    <form ng-submit="saveUser(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="accordion" id="userAccordion">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link" data-toggle="collapse"
                            data-target="#coreUserProps" aria-expanded="true">
                            <i class="fa fa-user"></i> {{ 'ui.admin.users.edit.core.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="coreUserProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="sid">{{ 'ui.model.securityUser.id' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="sid" readonly="readonly" type="text" class="form-control"
                                    ng-model="target.securityUser.id" />
                                <input-copy-button class="btn btn-outline-secondary" source="target.securityUser.id" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="username">{{ 'ui.model.securityUser.userName' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="username" ng-readonly="target.securityUser.id" type="text"
                                    class="form-control" pattern="^[A-Za-z0-9_\.\@]{3,}" minlength="3" maxlength="32"
                                    required="required" ng-model="target.securityUser.userName" />
                                <input-copy-button id="usernameCopyButton" class="btn btn-outline-secondary"
                                    source="target.securityUser.userName" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="targetForm.username.$error['duplicate']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'ui.admin.users.duplicateUser' | i18n }}
                                </div>
                                <div ng-show="targetForm.username.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.createdBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityUser.createdBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityUser.createdBy" provenance-time="target.securityUser.creationTime"></provenance>
                                {{ target.securityUser.creationTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.updatedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityUser.updatedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityUser.updatedBy" provenance-time="target.securityUser.updatedTime"></provenance>
                                {{ target.securityUser.updatedTime | extDate }}
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.obsoletedBy">
                            <label
                                class="col-sm-12 col-md-2 control-label">{{ 'ui.model.securityUser.obsoletedBy' | i18n }}</label>
                            <div class="col-md-10 col-sm-12">
                                    <provenance provenance-id="target.securityUser.obsoletedBy" provenance-time="target.securityUser.obsoletionTime"></provenance>
                                {{ target.securityUser.obsoletionTime | extDate }} <button id="reactivateUserButton"
                                    ng-click="reactivateUser()" type="button" class="btn btn-info"><i
                                        class="fas fa-trash-restore"></i>
                                    {{ 'ui.action.reactivate' | i18n }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link" data-toggle="collapse"
                            aria-expanded="true" data-target="#securityProps">
                            <i class="fa fa-shield-alt"></i> {{ 'ui.admin.users.edit.security.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="securityProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.lastLoginTime' | i18n }}</label>
                            <div class="col-xs-12 col-md-10" ng-if="target.securityUser.lastLoginTime">
                                {{ target.securityUser.lastLoginTime | extDate: 'F' }}</div>
                            <div class="col-xs-12 col-md-10" ng-if="!target.securityUser.lastLoginTime">
                                {{ 'ui.admin.users.edit.security.neverLoggedIn' | i18n }}</div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.invalidLoginAttempts' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                {{ target.securityUser.invalidLoginAttempts }}
                                <button ng-click="resetInvalidLogins()" id="resetInvalidLoginsButton" type="button"
                                    class="btn btn-info">
                                    <i class="fas fa-undo"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.lockout > $root.page.currentTime">
                           <label for="lockout" class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.lockout' | i18n }}</label>
                           <div class="col-xs-12 col-md-10">
                               {{ target.securityUser.lockout | extDate: 'F' }}
                               <button ng-click="unlock()" id="unlockButton" class="btn btn-info"
                                    type="button">
                                    <i class="fa fa-lock-open"></i> {{ 'ui.action.unlock' | i18n }}
                                </button>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label for="roles"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityRole.title' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search name="roles" type="'SecurityRole'" filter="{ obsoletionTime: 'null'}"
                                    key="'name'" selector="'entity'" ng-model="target.role" search-field="'name'"
                                    class="form-control" multiple="multiple" required="required" />
                            <div ng-show="targetForm.roles.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="target.securityUser.id">
                            <label
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.password' | i18n }}</label>
                            <div class="col-xs-12 col-md-2">
                                <button ng-click="resetPassword()" id="resetPasswordButton" class="btn btn-info"
                                    type="button">
                                    <i class="fa fa-asterisk"></i> {{ 'ui.action.resetPassword' | i18n }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="!target.securityUser.id">
                            <label for="newPassword"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.password.new.label' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input type="password" name="newPassword" ng-model="target.securityUser.password"
                                    class="form-control" required="required"
                                    pattern="[A-Za-z0-9@!#\$\%\^\&amp;\*\(\)\~\`\,\.\?\/\;\'\[\]\{\}\s_]+"
                                    ng-class="{'is-invalid': targetForm.newPassword.$invalid &amp;&amp; targetForm.$submitted}"
                                    ng-change="targetForm.newPassword.$error['err.password'] ? targetForm.newPassword.$error['err.password']=false : null" />
                                <div ng-show="targetForm.newPassword.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.newPassword.$error['err.password'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.password.complexity' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="!target.securityUser.id">
                            <label for="confirmPassword"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.password.confirm.label' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input type="password" name="confirmPassword"
                                    ng-model="target.securityUser.confirmPassword" class="form-control"
                                    required="required" ng-pattern="target.securityUser.password"
                                    ng-class="{'is-invalid': targetForm.confirmPassword.$invalid &amp;&amp; targetForm.$submitted}" />
                                <div ng-show="targetForm.confirmPassword.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.confirmPassword.$error['pattern']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.password.error.mismatch' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 offset-md-2 col-md-10">
                                <!-- #include virtual="/org.santedb.uicore/partials/security/password.strength.html" -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link" data-toggle="collapse"
                            data-target="#demographicProps">
                            <i class="fa fa-id-badge"></i> {{ 'ui.admin.users.edit.demographics.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" ng-class="{ 'show' : !target.securityUser.id }" id="demographicProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label for="email"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.email' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input name="email" type="email" class="form-control"
                                    ng-model="target.securityUser.email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phoneNumber"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.phoneNumber' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input name="phoneNumber" type="tel" class="form-control"
                                    ng-model="target.securityUser.phoneNumber" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="givenName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.givenName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <tag-input name="givenName" ng-model="target.entity.name.OfficialRecord.component.Given"
                                    required="required" class="form-control" />
                                    <div ng-show="targetForm.givenName.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.familyName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <tag-input name="familyName" ng-model="target.entity.name.OfficialRecord.component.Family"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.relationship.DedicatedServiceDeliveryLocation' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'Place'"
                                    filter="{ obsoletionTime: 'null', classConcept: EntityClassKeys.ServiceDeliveryLocation }"
                                    class="form-control"
                                    ng-model="target.entity.relationship.DedicatedServiceDeliveryLocation"
                                    value-property="'target'"
                                    multiple="multiple" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.relationship.Employee' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'Organization'" filter="{ obsoletionTime: 'null' }"
                                    class="form-control" ng-model="target.entity.relationship.Employee"
                                    value-property="'holder'"
                                    multiple="multiple" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="btn-group float-right">
            <button type="submit" id="saveUserButton" class="btn btn-primary"><i class="fa fa-check"></i>
                {{ 'ui.action.save' | i18n }}</button>
        </div>
    </form>
    <!-- #include virtual="/org.santedb.uicore/views/dialogs/password.partial.html" -->
</div>