<div xmlns="http://www.w3.org/1999/xhtml">
    <form ng-submit="saveUser(targetForm)" name="targetForm" novalidate="novalidate">
        <div class="accordion" id="userAccordion">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#coreUserProps" aria-expanded="true">
                            <i class="fa fa-user"></i> {{ 'ui.admin.users.edit.core.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="coreUserProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 control-label"
                                for="username">{{ 'ui.model.securityUser.userName' | i18n }}</label>
                            <div class="col-sm-12 col-md-10 input-group">
                                <input name="username" ng-readonly="target.entity.id" type="text"
                                    class="form-control" pattern="^[A-Za-z0-9_\.\@]{3,}" minlength="3" maxlength="32"
                                    required="required" ng-model="target.entity.userName" />
                                <input-copy-button id="usernameCopyButton" class="btn btn-outline-secondary"
                                    source="target.entity.userName" />
                            </div>
                            <div class="col-sm-12 col-md-10 offset-md-2">
                                <div ng-show="targetForm.username.$error['duplicate']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ 'ui.error.duplicate' | i18n }}
                                </div>
                                <div ng-show="targetForm.username.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.username.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            aria-expanded="true" data-target="#securityProps">
                            <i class="fa fa-shield-alt"></i> {{ 'ui.admin.users.edit.security.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="securityProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label for="roles"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityRole.title' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search name="roles" type="'SecurityRole'" filter="{ obsoletionTime: 'null'}"
                                    key="'name'" selector="'entity'" ng-model="target.role" search-field="'name'"
                                    class="form-control" multiple="multiple" required="required" />
                            <div ng-show="targetForm.roles.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="!target.entity.id">
                            <label for="newPassword"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.password.new.label' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input type="password" name="newPassword" ng-model="target.entity.password"
                                    class="form-control" required="required"
                                    pattern="[A-Za-z0-9@!#\$\%\^\&amp;\*\(\)\~\`\,\.\?\/\;\'\[\]\{\}\s_]+"
                                    ng-class="{'is-invalid': targetForm.newPassword.$invalid &amp;&amp; targetForm.$submitted}"
                                    ng-change="targetForm.newPassword.$error['err.password.complexity'] ? targetForm.newPassword.$error['err.password.complexity']=false : null" />
                                <div ng-show="targetForm.newPassword.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.newPassword.$error['err.password.complexity'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.password.error.complexity' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="!target.entity.id">
                            <label for="confirmPassword"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.password.confirm.label' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input type="password" name="confirmPassword"
                                    ng-model="target.entity.confirmPassword" class="form-control"
                                    required="required" 
                                    match-validator="newPassword"
                                    ng-class="{'is-invalid': targetForm.confirmPassword.$invalid &amp;&amp; targetForm.$submitted}" />
                                <div ng-show="targetForm.confirmPassword.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.confirmPassword.$error['match']" class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.password.error.mismatch' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12 offset-md-2 col-md-10">
                                <!-- #include virtual="/org.santedb.uicore/partials/security/password.strength.html" -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button type="button" class="collapse-indicator btn btn-link p-0" data-toggle="collapse"
                            data-target="#demographicProps" aria-expanded="true">
                            <i class="fa fa-id-badge"></i> {{ 'ui.admin.users.edit.demographics.title' | i18n }}
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="demographicProps">
                    <div class="card-body container-fluid">
                        <div class="form-group row">
                            <label for="email"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.email' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input name="email" type="email" class="form-control"
                                    ng-model="target.entity.email" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+"
                                    required="required"/>
                                <div ng-show="targetForm.email.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                                <div ng-show="targetForm.email.$error['pattern'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.pattern' | i18n }}
                                </div>    
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phoneNumber"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.securityUser.phoneNumber' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <input name="phoneNumber" type="tel" class="form-control"
                                    ng-model="target.entity.phoneNumber" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="givenName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.givenName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <tag-input name="givenName" ng-model="target.userEntity.name.OfficialRecord.component.Given"
                                    required="required" class="form-control" />
                                    <div ng-show="targetForm.givenName.$error['required'] &amp;&amp; targetForm.$submitted"
                                    class="alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.familyName' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <tag-input name="familyName" ng-model="target.userEntity.name.OfficialRecord.component.Family"
                                    class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.language' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <select 
                                    class="form-control"
                                    ng-model="target.preferredLanguage">
                                    <option ng-repeat="lang in $root.system.locales" value="{{lang}}">{{ 'ui.locale.' + lang | i18n }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">
                                {{ 'ui.model.userEntity.relationship.DedicatedServiceDeliveryLocation' | i18n }}
                            </label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'Place'"
                                    filter="{ obsoletionTime: 'null', classConcept: EntityClassKeys.ServiceDeliveryLocation }"
                                    class="form-control"
                                    ng-model="target.userEntity.relationship.DedicatedServiceDeliveryLocation"
                                    value-property="'target'"
                                    multiple="multiple" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="familyName"
                                class="col-xs-12 col-md-2 control-label">{{ 'ui.model.userEntity.relationship.Employee' | i18n }}</label>
                            <div class="col-xs-12 col-md-10">
                                <entity-search type="'Organization'" filter="{ obsoletionTime: 'null' }"
                                    class="form-control" ng-model="target.userEntity.relationship.Employee"
                                    value-property="'target'"
                                    multiple="multiple" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           
        </div>
        <div class="btn-group float-right">
            <button type="submit" id="saveUserButton" class="btn btn-primary"><i class="fa fa-check"></i>
                {{ 'ui.action.save' | i18n }}</button>
        </div>
    </form>
    <!-- #include virtual="/org.santedb.uicore/views/dialogs/password.partial.html" -->
</div>