<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/rc/view.js</sdb:script>
    <sdb:script static="false">~/js/santedb-bi.js</sdb:script>
    <sdb:script static="false">~/js/santedb-ng-bi.js</sdb:script>
    <sdb:state name="santedb-admin.reports.view" abstract="false">
        <sdb:url>/view?{:id}</sdb:url>
        <sdb:view>
            <sdb:controller>ReportViewController</sdb:controller>
            <sdb:title lang="en">View Report</sdb:title>
        </sdb:view>
    </sdb:state>
    
    <report report-id="reportId" />
</div>